/* ========== colors & font-style 관련 스타일 ========== */

.fw-400{
  font-weight: 400;
  word-break: keep-all;
}

.fz-12{
  font-size: 12px;
}

.fz-13{
  font-size: 13px;
}

.fc-gray{
  color: #8E909F;
}

.fc-gray-light{
  color: #B8BAC7;
}

/* ========== END colors & font-style 관련 스타일 ========== */