/* ========== helper ========== */
// 여백들
.mgt-20 {
  margin-top: 20px;
}

.mgt-30 {
  margin-top: 30px;
}

.pdt-60 {
  margin-top: 60px;
}

.pd-0 {
  padding: 0 !important;
}

// 노출되지 않을 영역
.is-none {
  display: none !important;
}

// 보이진 않지만 리딩되는 영역
.is-voice-only {
  @include absolute($l: -9999rem);

  font-size: 0;
}

// 모바일일 때 보이니 안보이니 클래스 아래거 사용
.mb-hide {
  @include mobile {
    display: none !important;
  }
}

.mb-show {
  display: none !important;

  @include mobile {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;

  @include mobile {
    display: flex !important;
  }
}

.mb-show-ib {
  display: none !important;

  @include mobile {
    display: inline-block !important;
  }
}

// flexible content wrap
.clear:after {
  content: "";
  display: block;
  clear: both;
}

// 글자수 
.length-unit{
  font-weight: 500;
  font-size: 12px;
  color: #5C5E70;
}

// preline 먹히는 내용들
.p-preline{
  white-space: pre-line;
}

.space-between{ // 쓰일까 말까.. 추후 보고 지우기
  @include flex{
    @include flex-op(center, space-between);
  }

  width: 100%;
}

.space-between-item{
  @include flex{
    @include flex-op(center, flex-start);
  }

  gap: 5px;
}

/* ========== END helper ========== */