
$color-set: (
  primary: #00EB79,
);

$zIndex-set: (
  popup: 100,
  header: 20,
  fixed: 10,
  default: 1,
  zero: 0,
  minus: -1,
);

$path-set: (
  badge: "~@/assets/images/badge/",
  btn: "~@/assets/images/btn/",
  dft: "~@/assets/images/dft/",
  icon: "~@/assets/images/icon/",
  img: "~@/assets/images/img/",
  logo: "~@/assets/images/logo/",
);

$breakpoints: (
  mb: (
    600px: "모바일",
  ),
  sm: (
    360px: "갤럭시 작은버전",
  ),
  xsm: (
    350px: "아이폰 작은버전",
  ),
);