body{
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  min-width: 1250px;

  @include media(980px){
    min-width: auto;
  }
}

.empty-wrap{ // 구성요소: 컨텐츠 없을 때 스타일
  text-align: center;

  .empty-icon{
    width: 100%;
    max-width: em(188);
    margin: 0 auto em(18);
  }

  .empty-txt{
    @include font-op($c: #8E909F){
      font-size: em(15);
      line-height: 1.35;
    };
  }
}

.icon-with-txt{ // 구성요소: 아이콘 + 텍스트
  @include flex{
    @include flex-op(flex-start, flex-start);
  }
  @include font-op($w: 400, $c: #8e909f){
    font-size: 13px;
  };

  .icon{
    margin-right: 7px;
    flex-shrink: 0;
  }

  .txt{
    line-height: 1.5;
  }

  .empty-txt {
    line-height: 1.5;
  }

  a.txt{
    &:hover{
      text-decoration: underline
    }
  }
}

.icon-with-txt.ai-center{ // 구성요소: 아이콘 + 텍스트 중앙정렬
  align-items: center;
}

.icon-with-txt.line-one{ // 구성요소: 아이콘 + 텍스트 한줄일 때 말줄임표
  .txt{
    @include ellipse(1, 19.5px);
  }
}

.icon-with-txt.line-two{ // 구성요소: 아이콘 + 텍스트 두줄일 때 말줄임표
  .txt{
    @include ellipse(2, 19.5px);
  }
}

.pagination{ // 구성요소: 페이지네이션
  @include flex-center;

  gap: 10px;

  .btn-square-bd{
    width: 40px;
    height: 40px;
    border-color: #C3C3CE;
  }

  .num-btn{
    @include input-reset;

    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #8E909F;

    &:hover{
      // FIXME: 모바일일 때 hover효과 막아야할 수도 있음
      background-color: #ebebed;
    }

    &:active{
      background-color: darken(#ebebed, 3%);
    }
  }

  .num-btn.is-active{
    @include font-op($w: 600, $c: #303038);
  }
}

.dlist-grp{ // 구성요소: detail list grp (2열)
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 7px;
  row-gap: 18px;
}

.dlist{ // 구성요소: detail list
  @include flex{
    @include flex-op(flex-start, flex-start);
  }
  
  font-size: 15px;
  width: 100%;

  .lbel{
    @include font-op($w: 400, $c: #8e909f){
      font-size: inherit;
    };

    margin-bottom: 0;
    width: 100%;
    max-width: 85px;
    padding-right: 10px;
  }

  .txt{
    width: 100%;
    color: #171820;

    & > span{
      @include ellipse(1, 17px);
    }
  }
}

.dlist-col1-grp{ // 구성요소: detail list grp (1열)
  grid-template-columns: repeat(1, 1fr);
  row-gap: 7px;

  .dlist{
    font-size: 14px;

    .lbel{
      max-width: 140px;
    }

    .txt{
      text-align: right;
    }
  }
}

.input-img-frame{ // 구성요소 - 이미지 업로드 틀
  border: 1px solid #DDDEE6;
  background-color: #EBECF5;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  .input-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
  }

  .btn-upload{
    @include translate(50%, 50%);

    z-index: 1;
  }
}

.input-circle-img-frame{ // 구성요소 - 이미지 업로드 틀 (원형)
  @include circle(100px);
}

.input-square-img-frame{ // 구성요소 - 이미지 업로드 틀 (사각형)
  width: 260px;
  height: 180px;
  border-color: #ebecf5;
}

.add-inp-grp{ // 구성요소 - 항목 추가 input list
  width: 100%;

  & > .inp-grp{
    margin-bottom: 5px;
  }

  .mb-0{
    margin-bottom: 0;
  }

  .del-btn{
    @include bg-op($p: 50% 50%, $s: 14px);
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cg id='icon-del-input' transform='translate(-888 -1059)'%3E%3Crect id='사각형_2114' data-name='사각형 2114' width='14' height='14' transform='translate(888 1059)' fill='rgba(255,255,255,0)'/%3E%3Cg id='그룹_5805' data-name='그룹 5805' transform='translate(-14.5 0.5)'%3E%3Cline id='선_889' data-name='선 889' x2='10' y2='10' transform='translate(904.5 1060.5)' fill='none' stroke='%238e909f' stroke-width='2'/%3E%3Cline id='선_890' data-name='선 890' x1='10' y2='10' transform='translate(904.5 1060.5)' fill='none' stroke='%238e909f' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    width: 55px;
    background-color: #F9F9FB;
    flex-shrink: 0;

    &:hover{
      background-color: darken(#F9F9FB, 3%);
    }

    &:active{
      background-color: darken(#F9F9FB, 6%);
    }
  }

  & ~ .add-inp-btn{
    margin-top: 5px;
    border: 1px solid #5c5e70;
    box-shadow: none;
  }
}

.add-badge-grp{ // 구성요소 - 관심키워드 항목 badge group
  @include flex{
    @include flex-op(flex-start, flex-start);

    gap: 5px;
    flex-wrap: wrap;
  }

  padding: 5px 0 10px;

  & > *{
    flex-shrink: 0;
  }
}

.tab{ // 구성요소 - 탭
  width: 100%;
  border-bottom: 1px solid #DDDEE6;

  .tab-btn{
    @include font-op($w: 400, $c: #171820){
      font-size: 18px;
    }
    @include input-reset;

    cursor: pointer;
    padding: 20px 0;
    margin-right: 30px;
    position: relative;
  }

  .tab-btn.is-active{
    font-weight: 300;
    -webkit-text-stroke: 1px #171820;
    
    @include make-before{
      @include absolute($b: 0);

      width: 100%;
      height: 3px;
      background-color: #00EB79;
    }
  }
}

.check-lbel-ment{ // 구성요소 - 체크박스 + 멘트
  @include flex-op(flex-start, flex-start);
  display: inline-flex;

  .check-onoff{
    flex-shrink: 0;
    margin-right: 7px;
  }

  .ment{
    @include font-op($w: 300, $c: #8E909F){
      font-size: 15px;
    }

    -webkit-text-stroke: 0.5px #8e909f;
    line-height: 1.5;
    display: inline-block;
    padding-top: 2px;
  }

  .dark-ment{
    color: #171820;
    -webkit-text-stroke: 0.5px #171820;
  }
}

.agree-cont-box{ // 구성요소 - 개인정보 동의관련 박스
  background-color: #F9F9FB;
  padding: 44px 40px;

  .ttl-grp{
    @include flex{
      @include flex-op(center, space-between);
    }

    margin-bottom: 20px;

    .ttl{
      color: #171820;
      font-size: 18px;
      font-weight: 500;
    }
  }
} 

.agree-cont{ // 구성요소 - 개인정보 동의관련 박스 내용영역
  @include custom-scroll(#dddee6);

  width: 100%;
  background-color: white;
  min-height: 200px;
  max-height: 310px;
  overflow: auto;
  padding: 20px;
  line-height: 1.5;
}

.breadcrumb{ // 구성요소 - 브레드크럼
  font-size: 13px;
  color: #8E909F;
  text-align: left;

  .txt{
    display: inline-block;
    position: relative;
    padding-right: 8px;
    margin-right: 3px;

    @include make-after($c: '>'){
      @include absolute($t: 0, $r: 0);

      display: inline-block;
    };

    &:last-child{
      &:after{
        display: none;
      }
    }
  }
}

.txt-dark-gray{ // 구성요소 - 이름 & 번호
  .txt-dark{
    font-size: 14px;
    color: #171820;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .txt-gray{
    font-size: 13px;
    color: #8E909F;
  }
}

.box-list-grp{ // 구성요소 - 박스 리스트 그룹
  width: 100%;
  border-top: 0;
  // border: 1px solid #DDDEE6;

  .box-list{
    width: 100%;
    border: 1px solid #DDDEE6;
    margin-bottom: -1px;

    &:hover{
      position: relative;
      z-index: 1;
      border: 1px solid #00EB79;
      background-color: #F6FFFB;
    }
  }
}

.box-choice-list{ // 구성요소 - 박스 리스트 (호버시 테두리)
  padding: 15px;

  @include flex{
    @include flex-op(flex-start, flex-start);
  }

  .check-onoff{
    margin-top: 7px;
    margin-left: auto;
  }
}

.cnt-txt-grp{ // 구성요소 - '검색어' 결과 건수 텍스트
  @include flex{
    @include flex-op(center, flex-start);
  }
  color: #171820;

  .txt{
    font-size: 13px;
    position: relative;

    .bold{
      font-weight: 300;
      -webkit-text-stroke: 1px #171820;
    }
  }

  .highlight{
    position: relative;
    font-weight: 300;
    -webkit-text-stroke: 1px #171820;

    @include make-before{
      @include absolute($b: 0);

      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: #53FF81;
      z-index: 0;
    }

    u{
      position: relative;
      z-index: 1;
      text-decoration: none;
    }
  }
}

.lbel-amount-point{ // 구성요소 - 사용되는 포인트 박스
  @include flex{
    @include flex-op(center, space-between)
  };

  width: 100%;
  background-color: #F9F9FB;
  padding: 18px 20px;

  .lbel{
    font-size: 12px;
    color: #5C5E70;
    padding-right: 10px;
  }

  .amount-point{
    @include flex-op(center, flex-start);

    display: inline-flex;
    gap: 6px;
  }

  .amount{
    font-size: 18px;
    font-weight: 600;
  }
}

.toggle-list-grp{ // 구성요소 - 항목 공개 설정 toggle list group
  width: 100%;
}

.toggle-list{ // 구성요소 - 항목 공개 설정 toggle list
  @include flex{
    @include flex-op(flex-start, space-between);
  }

  width: 100%;
  padding: 16px 20px;

  .name{
    font-size: 15px;
  }

  .toggle-onoff {
    margin-top: 2.5px;
  }
}

.account-info{ // 구성요소 - 이름 & 메일
  .name{
    font-weight: 500;
    color: #171820;
  }

  .mail{
    font-weight: 500;
    color: #5C5E70;
  }
}

.ul-bullet{ // 구성요소 bullet style list
  .list{
    margin: 10px 0;
    color: #171820;
    font-size: 15px;
    text-align: left;
    padding-left: 13px;
    position: relative;

    @include make-before{
      @include absolute($t: 6px);
      @include circle(5px);

      background-color: #00EB79;
    }
  }
}

.ul-dash{ // 구성요소 bullet style list
  .list{
    margin: 10px 0;
    color: #171820;
    font-size: 15px;
    text-align: left;
    padding-left: 13px;
    position: relative;
    line-height: 1.5;

    @include make-before($c: '-'){
      @include absolute($t: 0);
      @include circle(5px);
    }
  }
}

.state-guide-box{ // 구성요소 complete 시 안내박스
  text-align: center;
  color: #171820;

  .state-img{
    max-width: 100%;
    margin-bottom: 20px;
  }

  .state-ttl{
    font-size: 29px;
    line-height: 1.3;
  }

  .state-period{
    font-size: 20px;
    line-height: 1.4;
    margin: 10px 0 15px;

    b{
      font-weight: 500;
    }
  }

  .state-desc{
    font-size: 15px;
    margin-top: 5px;
    line-height: 1.4;
  }

  [position="single-centered"]{
    margin-top: 45px;
  }
}

.toggle-item{ // 구성요소: label + toggle
  .tg-lbel{
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    color: #5c5e70;
    margin-right: 5px;
  }

  .toggle-onoff{
    vertical-align: middle;
  }
}

.simple-list-grp-box{ // 구성요소: 심플 내역 보더 박스
  @include custom-scroll(#00EB79);

  width: 100%;
  border: 1px solid #DDDEE6;
  overflow: auto;
  position: relative;
  padding: 10px 20px;
}

.simple-list-nothing{
  @include flex-center;

  font-size: 15px;
  color: #8E909F;
  width: 100%;
  height: 100%;
}

.simple-list-grp{ // 구성요소: 심플 내역 list group
  width: 100%;
}

.simple-list{ // 구성요소: 심플 내역 list
  @include flex{
    @include flex-op(flex-start, flex-start);
  }

  width: 100%;
  font-size: 14px;
  padding: 14px 10px;
  cursor: default;
  color: #171820;

  &:hover{
    background-color: #F6FFFB;
  }

  td{
    flex: 0 1 auto;
    padding: 0 10px;
    min-width: 120px;
    line-height: 1.4;
  }

  .bold{
    font-weight: 600;
  }

  .td-right{
    margin-left: auto;
    flex: 0 0 auto;
    min-width: auto;
    padding-right: 0;
  }
}

.caution-box{ // 구성요소: 주의사항 박스
  width: 100%;
  padding: 20px;
  background-color: #F9F9FB;
  text-align: left;

  .cb-ttl{
    @include font-op($w: 500){
      font-size: 14px;
    }

    line-height: 1.4;
    color: #5C5E70;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
  }

  .ul-dash{
    .list{
      margin: 6px 0;
      font-size: 12px;
      color: #8E909F;
      padding-left: 10px;
    }
  }
}

.amount-item{ // 구성요소 point, badge, unit..
  @include flex-center;

  gap: 5px;
  color: #171820;

  .amount, 
  .unit{
    font-weight: 600;
  }
}

.keyword-card{ // 구성요소 설명박스
  background-color: white;
  padding: 40px;

  @at-root .mypage-cont-wrap &{
    margin-bottom: 100px;
  }
}

.keyword-card-cont{ // 구성요소 설명박스 보더 + 배경 있을때
  width: 100%;
  border-bottom: 1px solid #DDDEE6; 
  margin-bottom: 40px;
  text-align: left;
  padding-bottom: 40px;
  position: relative;

  .img-checker{
    @include absolute($b: 0, $r: 0);

    z-index: 0;
    pointer-events: none;
  }
}

.keyword-card-section{ // 구성요소 설명박스 섹션
  margin-bottom: 50px;

  &:last-child{
    margin-bottom: 0;
  }

  .hgrp{
    margin-bottom: 18px;

    .sub-ttl{
      display: inline-block;
      margin-bottom: 7px;
    }

    .ttl{
      @include font-op($w: 500){
        font-size: 20px;
      }

      line-height: 1.4;
    }
  }

  .keyword-card-desc{
    font-size: 15px;
    line-height: 1.6;
  }
}

.white-panel { // 흰색배경 박스영역
  position: relative;
  padding: 20px 40px;
  background-color: white;
}

.flexable-container { // 기업프로필 판넬 정렬
  @include flex {
    @include flex-op(stretch, space-between);

    .flexable-inner {
      flex: 0 0 calc(50% - 10px);
    }
  }

  &.split3 {
    .flexable-inner {
      flex: 0 0 calc(33.33% - 10px);
    }
  }

  &.split6 {
    flex-wrap: wrap;

    .flexable-inner {
      flex: 0 0 32%;
      margin-bottom: 10px;
    }
  }
}

.empty-conts { // 기업프로필 업데이트내역이 없습니다.
  @include flex-center;

  flex-direction: column;
  height: 125px;

  .txt {
    margin-top: 14px;
    font-size: rem(13);
    font-weight: 400;
    color: #8E909F;
    -webkit-text-stroke: 0.4px #8e909f;
  }
}

.accordion-list{ // 구성요소 아코디언 목록
  width: 100%;
}

.accordion-list.is-show{
  .acdn-top-icon{
    transform: rotate(180deg);
  }

  .accordion-down{
    display: block;
  }
}

.accordion-top{ // 구성요소 아코디언 위
  width: 100%;
  background-color: white;
  position: relative;
  padding: 15px 40px;
  padding-right: 70px;
  cursor: pointer;

  &:hover{
    background-color: #F6FFFB;
  }

  .acdn-top-icon{
    @include absolute($t: 27px, $r: 40px);

    transform: rotate(0);
    z-index: 1;
    transition: all 0.2s;
  }
}

.accordion-down{ // 구성요소 아코디언 아래
  width: 100%;
  background-color: white;
  padding: 10px 40px;
  display: none;
}

.article-hgrp{ // 구성요소 제목 그룹
  width: 100%;
  margin-bottom: 20px;

  .ttl{
    font-size: 18px;
    font-weight: 500;
    color: #171820;
  }
}

.colored-ment-box{ // 구성요소 컬러멘트박스
  @include flex{
    @include flex-op(center, space-between);
  }

  position: relative;
  width: 100%;
  background-color: #212D55;
  color: white;
  height: 100px;

  .btn-txt{
    .txt{
      color: white;
    }
  }

  .img-checker-man{
    @include absolute($l: -22px, $b: 0);
    
    z-index: 1;
  }

  .img-checker-man ~ .left-cont{
    padding-left: 170px;
  }

  .left-cont{
    position: relative;
  }

  .ment-box{
    line-height: 1.4;
    padding: 0 20px;

    .ttl{
      @include font-op($c: inherit, $w: 600){
        font-size: 18px;
      }

      margin-bottom: 9px;
    }

    .desc{
      @include font-op($c: inherit, $w: 500){
        font-size: 13px;
      }

      opacity: 0.8;
    }
  }

  .right-cont{
    padding: 0 20px;
  }
}

.gradi-ment-box{ // 구성요소 컬러멘트박스 (그라데이션 버전)
  background: linear-gradient(to right, #3060FF, #00CE6A);

  .ment-box{
    .ttl{
      font-size: 22px;
    }
  }
}

.big-ttl-avatar-hd{
  width: 100%;
  border-bottom: 1px solid #DDDEE6;
  padding-bottom: 30px;

  .big-ttl-grp{
    margin-bottom: 22px;
  }
}

.big-ttl-grp { // 구성요소 형광펜 그어진 25px 타이틀박스
  &.mb-add {
    margin-bottom: 65px;
  }

  .cont-big-ttl {
    font-size: rem(25);
    font-weight: 500;
    color: #171820;
    line-height: 1.4;
  }

  .underline {
    position: relative;
    z-index: 1;
    
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: auto;
      bottom: 0;
      width: 100%;
      height: 6px;
      background-color: #53FF81;
      z-index: -1;
    }
  }
}

.img-box-grp{ // 구성요소: 팩트체크 확대되는 첨부이미지 박스 그룹
  @include flex{
    @include flex-op(stretch, flex-start);
  };

  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.img-box{ // 구성요소: 팩트체크 확대되는 첨부이미지 박스
  width: 100%;
  max-width: 339px;
  background-color: #F9F9FB;
  border: 1px solid #DDDEE6;
  position: relative;

  .img-box-figure{
    width: 100%;
    padding-top: 59.35%;
    position: relative;
  }

  .img-input{
    @include absolute;

    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: bottom;
  }

  .img-box-txt{
    @include translate($t: 50%, $l: 50%);
    @include font-op($w: 500, $c: #DDDEE6){
      font-size: 42px;
    }

    text-transform: uppercase;
  }

  .icon-zoom{
    @include absolute($b: 0, $r: 0);

    z-index: 2;
    cursor: pointer;
  }
}

.value-chart-wrap{
  background-color: #171820;
  color: white;
  padding: 40px;
  width: 100%;
  max-width: 600px;

  .wrap-hgrp{
    text-align: center;
    margin-bottom: 25px;
  }

  .wrap-ttl{
    @include font-op($c: #8e909f, $w: 400){
      font-size: 15px;
    }

    -webkit-text-stroke: 0.5px #8e909f;
    line-height: 1.5;
    margin-bottom: 7px;
  }

  .wrap-average-star{
    font-size: 25px;

    .icon-star{
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23.5' height='23' viewBox='0 0 23.5 23'%3E%3Cdefs%3E%3ClinearGradient id='linear-gradient' x1='-0.069' y1='-0.044' x2='0.782' y2='0.938' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%2353ff81'/%3E%3Cstop offset='1' stop-color='%23ffd500'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpath id='icon-star-gra' d='M10.891,1.438a1,1,0,0,1,1.717,0l3.04,5.093a1,1,0,0,0,.618.458L21.956,8.4a1,1,0,0,1,.529,1.608l-3.824,4.618a1,1,0,0,0-.227.713l.454,6.021a1,1,0,0,1-1.388,1L12.141,20.08a1,1,0,0,0-.782,0L6,22.358a1,1,0,0,1-1.388-1l.454-6.021a1,1,0,0,0-.227-.713L1.014,10.01A1,1,0,0,1,1.544,8.4l5.69-1.413a1,1,0,0,0,.618-.458Z' fill='url(%23linear-gradient)'/%3E%3C/svg%3E%0A");
      margin-right: 5px;
    }

    .rating{
      line-height: 1;
      font-weight: 600;
      display: inline-block;
      vertical-align: middle;
      padding-top: 5px;
    }
  }

  .xaxis-list-grp{
    @include flex-center;

    background-color: rgba(#00EB79, 0.11);
    border: 1px solid rgba(#00EB79, 0.5);
    padding: 13.5px 0;
  }

  .xaxis-list{
    flex: 1 1 20%;
    border-right: 1px solid #005D31;

    &:last-child{
      border-right: 0;
    }
  }

  .xaxis-item{
    @include flex-col;
    @include flex-op(center, center);

    gap: 8px;

    .lbel{
      @include font-op($w: 500, $c: #00EB79){
        font-size: 13px;
      }
    }
    
    .cont{
      @include font-op($w: 600, $c: white){
        font-size: 16px;
      }
    }  
  }
}

#valueChart { // 구성요소: 기업가치 그래프 x-axis 폰트사이즈
  width: 100%;
  
  .apexcharts-inner {
    position: relative;
    // transform: translate(40px, 30px) !important;
  }

  .apexcharts-xaxis text{
    font-size: 14px;
  }
}