// 구성요소 - empty-wrap
.empty-wrap{
  text-align: center;

  .empty-icon{
    width: 100%;
    max-width: 188px;
    margin: 0 auto 18px;
  }

  .empty-txt{
    @include font-op($c: #8E909F){
      font-size: 15px;
    };
  }
}

// 구성요소 - avatar-with-name
.avatar-with-name{
  @include flex{
    @include flex-op(center, flex-start);
  }

  .avatar{
    margin-right: 8px;
  }

  .name{
    @include font-op($w: 400, $c: #171820){
      font-size: 14px;
    }

    -webkit-text-stroke: 0.5px #171820;
    display: inline-block;
  }

  .name-grp{
    @include flex{
      @include flex-op(flex-start, center);
    }

    flex-direction: column;
    gap: 6px;
  }

  .name-user-type{
    @include font-op($w: 300, $c: #8e909f){
      font-size: 12px;
    }

    -webkit-text-stroke: 0.5px #8e909f;
    margin-bottom: 2px;
  }

  .name-subtxt-grp{
    @include font-op($w: 300, $c: #8e909f){
      font-size: 12px;
    }

    -webkit-text-stroke: 0.5px #8e909f;
    display: inline-block;
    width: 100%;
  }

  .name-subtxt-list{
    display: inline-block;
    position: relative;
    margin-right: 1.5px;

    @include make-after('·'){
      display: inline-block;
      transform: translateX(-1px);
    };

    &:last-child{
      margin-right: 0;

      &:after{
        content: '';
      }
    }
  }
}

.col-avatar-with-name{
  @include flex-op(flex-start, center);

  flex-direction: column;
  display: inline-flex;

  .avatar{
    margin: 0 auto 10px;
  }

  .name-grp{
    text-align: center;
  }

  .name{
    width: 100%;
  }

  .name-subtxt-grp{
    margin-top: 2.5px;
    font-size: 11px;
  }
}

// 구성요소 - icon-with-txt
.icon-with-txt{
  @include flex{
    @include flex-op(flex-start, flex-start);
  }
  @include font-op($w: 400, $c: #8e909f){
    font-size: 13px;
  };

  .icon{
    margin-right: 7px;
    flex-shrink: 0;
  }

  .txt{
    line-height: 1.5;
  }

  a.txt{
    &:hover{
      text-decoration: underline
    }
  }
}

.icon-with-txt.line-one{
  .txt{
    @include ellipse(1, 19.5px);
  }
}

.icon-with-txt.line-two{
  .txt{
    @include ellipse(2, 19.5px);
  }
}

// 구성요소 - pagination
.pagination{
  @include flex-center;

  gap: 10px;

  .btn-square-bd{
    width: 40px;
    height: 40px;
    border-color: #C3C3CE;
  }

  .num-btn{
    @include input-reset;

    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #8E909F;

    &:hover{
      // FIXME 모바일에선 수정해야할 수도
      background-color: #ebebed;
    }

    &:active{
      background-color: darken(#ebebed, 3%);
    }
  }

  .num-btn.is-active{
    @include font-op($w: 600, $c: #303038);
  }
}

// 구성요소 - auth 관련 title group
.auth-hgrp{
  width: 100%;
  text-align: left;

  .ttl{
    @include font-op($w: 400, $c: #171820){
      font-size: 25px;
    }

    -webkit-text-stroke: 1px #171820;
    margin-bottom: 12px;
  }

  .ttl-sub{
    @include font-op($c: #171820){
      font-size: 16px;
    }

    line-height: 1.5;
  }
}

.symbol-fs{
  max-width: 30px;
  margin-bottom: 24px;
}