/* ========== 카드 관련 스타일 ========== */

.card{ // 프로필 카드
  @include flex-col;
  @include flex-op(flex-start, flex-start);

  gap: 9px;
  width: 100%;
  
  .card-thumb{
    margin-bottom: 5px;
  }

  .amount-item{
    font-size: 15px;
    
    .unit{
      font-weight: 400;
    }
  }
}

.card-thumb{
  width: 100%;
  position: relative;

  .ribbon{
    @include absolute($t: 10px);
    @include bg-op($p: 0 50%, $s: contain);

    z-index: 1;
    background-color: #41424A;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 6px 10px;

    @include make-before{
      position: absolute;
      top: 0;
      right: -5px;
      width: 0;
      height: 0;
      border-left: 5px solid #41424A;
      border-bottom: 12px solid transparent;
    }
    
    @include make-after{
      position: absolute;
      top: auto;
      bottom: 0;
      right: -5px;
      width: 0;
      height: 0;
      border-bottom: 12px solid #41424a;
      border-right: 5px solid transparent;
    }
  }

  .card-thumb-avatar{
    @include absolute($b: -8px, $r: 8px);
    
    z-index: 1;

    .icon-msg-white{
      display: block;
      margin: 0 auto;
      width: 30px;
      height: 30px;
    }
  }
}

.card-thumb-lg{
  max-width: 410px;
}

.card-thumb-max{
  max-width: 535px;
}

.card-subtxt-grp{
  @include font-op($c: #5c5e70){
    font-size: 12px;
  }

  display: inline-block;
  width: 100%;
}

.card-subtxt-list{
  display: inline-block;
  position: relative;
  margin-right: 3px;

  @include make-after('·'){
    display: inline-block;
  };

  &:last-child{
    margin-right: 0;

    &:after{
      content: '';
    }
  }
}

.card-user-type{
  font-size: 12px;
  color: #8E909F;
  display: inline-block;
  width: 100%;
}

.card-name{
  @include font-op($w: 600, $c: #171820){
    font-size: 19px;
  }

  line-height: 1.4;
}

.card-tag-grp{
  width: 100%;
}

.card-tag-list{
  @include font-op($w: 300,$c: #00CE6A){
    font-size: 12px;
  }

  display: inline;
  line-height: 1.5;
  -webkit-text-stroke: 0.5px #00CE6A;
}

.info-card { // 회사 정보 프로필 카드
  @include flex{
    @include flex-op(stretch, flex-start);
  };

  width: 100%;
  // max-width: 1090px;
  background-color: white;
  padding: 20px 23px;
  box-shadow: 0 10px 20px rgba(#171820, 0.08);

  .card-thumb{
    margin-right: 20px;
  }

  .avatar-with-name{
    margin-bottom: 20px;

    .avatar {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    } 

    .name {
      @include ellipse(1, 20px);
      
      font-size: 18px;
    }
  }
}

.card-company-info{
  @include flex-col;
  @include flex-op(flex-start, center);

  width: 100%;
  gap: 20px;
}

.card-keyword-badge-grp{
  @include flex{
    @include flex-op(center, flex-start);
  }

  gap: 5.5px;
  flex-wrap: wrap;

  .badge-rounded{
    flex-shrink: 0;
  }
}

/* ----------------- 카드 그리드 그룹 ----------------- */

.card-grid-grp{
  width: 100%;
  max-width: 1090px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 17px;

  .card{
    width: 100%;
    cursor: pointer;
  }
}

.card-grid-grp-ttl{ // 카드 총 갯수 알림
  @include flex{
    @include flex-op(center, flex-start);
  }

  margin-bottom: 15px;
  color: #171820;
  gap: 10px;

  .txt{
    font-size: 16px;
    position: relative;

    .bold{
      font-weight: 300;
      -webkit-text-stroke: 1px #171820;
    }
  }

  .highlight{
    position: relative;
    font-weight: 500;

    @include make-before{
      @include absolute($b: 0);

      display: inline-block;
      width: 100%;
      height: 4px;
      background-color: #53FF81;
      z-index: 0;
    }

    u{
      position: relative;
      z-index: 1;
      text-decoration: none;
    }
  }

  .txt-right{
    @include flex{
      @include flex-op(center, flex-start);
    }

    margin-left: auto;
    margin-right: 0;
    gap: 10px;
  }

  .custom-slct{
    width: 150px;
  }

  .img-advice{
    @include absolute($b: 0, $r: -73px);
  }
}

/* ----------------- END 카드 그리드 그룹 ----------------- */

/* ========== END 카드 관련 스타일 ========== */