/* ========== 폼 관련 스타일 ========== */

@mixin inp-default{ // 인풋 스타일 초기화 믹스인
  @include input-reset;
  @include font-op($w: 400, $c: #171820){
    font-size: 14px;
  }

  width: 100%;
  border: 1px solid #DDDEE6;
  padding: 16px 15px;
  background-color: white;
  text-align: left;

  &:first-child{
    margin-top: 0;
  }

  &::placeholder{
    color: #B8BAC7;
  }

  &:focus,
  &.is-focus{
    border-color: #00EB79;
    box-shadow: 0 4px 8px rgba(#B8BAC7, 0.3);
  }

  &:disabled{
    background-color: #F9F9FB;
    color: #B8BAC7;
  }

  .icon-cal{
    margin-right: 8px;
  }
}

.inp{ // 구성요소: 인풋 기본 스타일
  @include inp-default;
}

.inp-textarea {
  height: 200px;
  
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #00EB79;
  }
}

%inp-default{
  @include inp-default;
}

textarea.inp{ // 구성요소: 텍스트에어리어 기본 스타일
  resize: none;
  line-height: 1.5;
}

.slct{ // 구성요소: 셀렉트 기본 스타일
  @extend %inp-default;
  @include bg-op($p:calc(100% - 15px) 50%, $s: 12px);

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' viewBox='0 0 12 7'%3E%3Cpath id='다각형_2' data-name='다각형 2' d='M6,0l6,7H0Z' transform='translate(12 7) rotate(180)' fill='%23b8bac7'/%3E%3C/svg%3E%0A");
  padding-right: 40px;

  &:hover{
    border-color: #00EB79;
  }
}

.inp-grp{ // 구성요소: 기본 인풋그룹
  @include flex{
    @include flex-op(center, flex-start);
  }

  width: 100%;
  margin: 2.5px 0;
  gap: 5px;
}

.inp-btn-grp { // 구성요소: 인풋 + 인증번호
  .inp-grp,
  .inp {
    flex-shrink: 1;
    margin: 0;
  }

  .btn-md{
    flex-shrink: 0;
    padding: 16px 10px;
    max-width: 100px;
    width: 100%;
  }
}

.lbel-inp-grp{ // 구성요소: 레이블 + 인풋
  @include flex;
  
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 17px 0;

  .lbel{
    margin-bottom: 5px;
    width: 100%;
    font-weight: 500;
    color: #171820;
    text-align: left;
  }

  .lbel-lg{
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
  }
}

.inp-time-grp{ // 구성요소: 제한시간 있는 인풋
  width: 100%;
  position: relative;

  .inp{
    padding-right: 55px;
  }

  .inp-time{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    color: #171820;
  }
}

.lbel-toggle{ // 구성요소: 레이블 + 토글스위치
  @include flex{ 
    @include flex-op(center, flex-start);
  }

  width: 100%;
  margin-bottom: 5px;

  .lbel{
    margin-bottom: 0;
  }

  .toggle-item{
    margin-left: auto;
    flex-shrink: 0;
  }
}

.lbel{ // 구성요소: 기본레이블
  font-size: 13px;
  font-weight: 400;
  color: #171820;
  display: inline-block;
}

.lbel-lg{ // 구성요소: 기본레이블 큰버전
  font-size: 16px;
  font-weight: 300;
  -webkit-text-stroke: 1px #171820;
}

.required{ // 구성요소: 필수항목 * 별표 표시
  color: #FF5175;
  font-weight: 500;
  font-size: 12px;
}

.inp-unit-grp{ // 구성요소: 인풋 + 단위
  width: 100%;
  position: relative;

  .inp{
    text-align: right;
    padding-right: 40px;
  }

  .inp-unit{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    font-size: 13px;
    font-weight: 600;
    color: #5C5E70;
  }
}

.custom-slct{ // 구성요소: 커스텀 셀렉트
  position: relative;

  .slct{
    cursor: default;
    color: #B8BAC7;

    .word{
      @include ellipse(1, 16px);
    }
  }
}

.custom-slct01{ // 구성요소: 커스텀 셀렉트 스타일 1 (백그라운드 화이트)
  .slct.is-selected{
    color: #171820;
  }
  
  .slct-opts-grp{
    top: 59px;
  }
}

.custom-slct02{ // 구성요소: 커스텀 셀렉트 스타일 2 (백그라운드 투명)
  min-width: 120px;
  
  .slct{
    background-position: 100% 50%;
    color: #171820;
    font-size: 13px;
    padding: 12.5px 0;
    padding-right: 20px;
    border: 0;
    background-color: transparent;
  }

  .slct.is-focus{
    box-shadow: none;
  }

  .slct-opts-grp{
    top: 40px;
  }
}

.slct-opts-grp{ // 구성요소: 커스텀 셀렉트 옵션리스트
  @include custom-scroll(#DDDEE6);

  background-color: white;
  padding: 10px 0;
  box-shadow: 0 3px 8px rgba(#171820, 0.1);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  max-height: 250px;
  overflow: auto;

  .slct-opts-list{
    @include font-op($w: 400, $c: #5C5E70){
      font-size: 15px;
    };

    text-align: left;
    padding: 6.5px 15px;
    cursor: pointer;

    &:hover{
      // FIXME: 모바일에선 hover효과 막기
      background-color: #F9F9FB;
    }

    &:active{
      background-color: darken(#F9F9FB, 2%);
    }
  }
}

.slct-opts-grp.is-show{
  opacity: 1;
  pointer-events: visible;
}

.inp-sch-grp{ // 구성요소: 인풋 + 검색버튼
  position: relative;

  .inp{
    font-size: 13px; 
    padding: 11.5px 15px;
    padding-right: 75px;
  }

  .inp-strong{
    font-size: 15px;
    border-width: 3px;
    padding: 13.5px 15px;
    padding-right: 75px;
  }

  .inp-del-btn,
  .inp-sch-btn{
    @include absolute($t: 50%, $r: 10px);

    transform: translateY(-50%);
  }

  .inp-del-btn{
    right: 45px;
  }
}

.inp-del-btn{ // 구성요소: 인풋 + 검색버튼의 지우기버튼
  @include input-reset;
  @include circle(20px);
  @include bg-op($s: 10px);

  cursor: pointer;
  background-color: #C8C9D5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.768' height='9.768' viewBox='0 0 9.768 9.768'%3E%3Cg id='그룹_6173' data-name='그룹 6173' transform='translate(0.884 0.884)'%3E%3Cline id='선_975' data-name='선 975' x2='8' y2='8' fill='none' stroke='%23fff' stroke-width='2.5'/%3E%3Cline id='선_976' data-name='선 976' x1='8' y2='8' fill='none' stroke='%23fff' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");

  &:hover{
    background-color: darken(#C8C9D5, 3%);
  }
}

.inp-sch-btn{ // 구성요소: 인풋 + 검색버튼의 검색 돋보기버튼
  @include input-reset;
  @include bg-op($s: 20px);

  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg id='btn-sch-wh' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Crect id='사각형_10' data-name='사각형 10' width='20' height='20' fill='%23fff' opacity='0'/%3E%3Cg id='그룹_4367' data-name='그룹 4367' transform='translate(1 1)'%3E%3Cg id='타원_1' data-name='타원 1' fill='none' stroke='%23171820' stroke-width='3'%3E%3Ccircle cx='8' cy='8' r='8' stroke='none'/%3E%3Ccircle cx='8' cy='8' r='6.5' fill='none'/%3E%3C/g%3E%3Cline id='선_1' data-name='선 1' x2='4.387' y2='4.388' transform='translate(13.5 13.5)' fill='none' stroke='%23171820' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");

  &:hover{
    background-color: #ebebed;
  }

  &:active{
    background-color: darken(#ebebed, 3%);
  }
}

.ffieldset{ // 구성요소: 폼양식 (form-fieldset 줄임말)
  width: 100%;
  border-bottom: 1px solid #DDDEE6;
  padding: 30px 0;
  text-align: left;

  &:first-child,
  &:first-of-type{
    padding-top: 0;
  }

  &:last-child,
  &:last-of-type{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }

  & > * {
    float: left;
    width: 100%;
  }

  .lbel-inp-grp{
    margin: 10px 0;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .ffieldset-ttl{
    @include font-op($w: 400, $c: #171820){
      font-size: 16px;
    }

    -webkit-text-stroke: 1px #171820;
    margin-bottom: 10px;
    text-align: left;
  }

  .ffieldset-ttl ~ .ffieldset-guide{
    margin-bottom: 10px;
  }

  .ffieldset-guide{
    @include font-op($c: #8E909F){
      font-size: 12px;
    }

    line-height: 1.5;
    margin: 5px 0;
  }
}

.file-inp-grp{ // 구성요소: 파일첨부 인풋 그룹
  width: 100%;
  margin: 10px 0;

  &:last-child{
    margin-bottom: 0;
  }

  .lbel{
    font-size: 14px;
    font-weight: 400;
    -webkit-text-stroke: 0.5px #171820;
    margin-bottom: 10px;
  }

  .input-img-frame{
    margin-bottom: 10px;
  }
}

.fvalidate-msg{ // 구성요소: input 유효성검사멘트
  font-size: 12px;
  margin: 5px 0;
}

.fvalidate-msg.is-success{ // 구성요소: input 유효성검사멘트 (성공)
  color: #3060FF;
}

.fvalidate-msg.is-fail{ // 구성요소: input 유효성검사멘트 (실패)
  color: #FF5175;
}

/* ========== END 폼 관련 스타일 ========== */