// 임시스타일 삭제예정
.page {
  @include media(1600px) {
    .right-fixed {
      position: static;
      width: 100%;
      transform: none;

      .fixed-con-container {
        position: static;
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
      }

      .fixed-con-contents {
        max-height: 250px;
      }
    }
  }
}
// END 임시스타일 삭제예정

.right-fixed {
  @include fixed($t: 110px, $l: 50%);
  
  width: 90%;
  max-width: 1090px;
  z-index: 1;
  transform: translateX(-50%);

  .fixed-con-container {
    @include absolute($t: 0, $l: 100%);
  
    width: 220px;
    margin-left: 20px;
    background-color: white;
  }
  
  .fixed-con-ttl {
    padding: 14px 25px 11px;
    border: 1px solid #171820;
    font-size: rem(13);
    font-weight: 400;
    color: #171820;
    -webkit-text-stroke: 0.3px #171820;
  }
  
  .fixed-con-contents {
    max-height: 520px;
    overflow: auto;
    border: 1px solid #DDDEE6;
  
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #00EB79;
    }
  }
  
  .fixed-con-list {
    position: relative;
    padding: 21px 25px 26px;
    border-top: 1px solid #DDDEE6;
  
    &:first-child {
      border-top: 0;
    }
  
    .date {
      padding-top: 7px;
      font-size: rem(11);
      font-weight: 400;
      color: #8E909F;
    }
  
    .info-list {
      padding-top: 7px;
    }
  
    .info {
      position: relative;
      margin-top: 7px;
      padding-left: 10px;
      font-size: rem(13);
      font-weight: 400;
      color: #171820;
      -webkit-text-stroke: 0.3px #171820;
  
      @include make-before {
        @include absolute($t: 5px, $l: 0);
        @include circle(4px);
  
        background-color: #5C5E70;
      }
    }
  
    .view-link {
      @include absolute($t: 26px, $r: 25px);
  
      font-size: rem(12);
      font-weight: 400;
      color: #5C5E70;
    }
  }
}