/* ========== auth 공통 ========== */

.auth-hgrp{ // auth 관련 title group
  width: 100%;
  text-align: left;
  margin-bottom: 50px;

  .badge-flag{
    margin-bottom: 5px;
  }

  .ttl{
    @include font-op($w: 400, $c: #171820){
      font-size: em(25);
    }

    -webkit-text-stroke: 1px #171820;
    margin-bottom: 12px;

    .ttl-txt{
      vertical-align: middle;
    }

    .badge-auth{
      margin-left: 6px;
    }
  }

  .ttl-sub{
    @include font-op($c: #171820){
      font-size: 16px;
    }

    line-height: 1.5;
  }

  .ttl-sub-btn{
    margin-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
  }
}

.auth-hgrp ~ .auth-form-area{ // 회원가입 폼 마진
  margin-top: -10px;
}

.auth-hgrp ~ .ftck-auth-form-area{ // 팩트체커 회원가입 폼 마진
  margin-top: -25px;
}

.symbol-fs{ // 팩트시트 심볼
  max-width: 30px;
  margin-bottom: 24px;
}

.type-slct-grp{ // 회원유형 및 형태 선택할 때 체크효과
  @at-root .auth-panel &{
    margin-top: -20px;
    margin-bottom: 60px;
  }
}

.type-slct-list{ // 회원유형 및 형태 선택할 때 체크효과
  @include font-op($w: 500, $c: #171820){
    font-size: em(20);
  }

  width: 100%;
  border-bottom: 1px solid #DDDEE6;
  padding: 10px 0;
  cursor: pointer;

  @include media(1200px, min){
    &:hover{
      .type-name{
        font-weight: 600;
      }

      .type-name:before{
        width: 20px;
        margin-right: 10px;
        opacity: 1;
      }
    }
  }

  .type-grp{
    @include flex{
      @include flex-op(center, space-between);
    };

    padding: 21px 0;
    position: relative;
  }

  .type-name{
    @include flex{
      @include flex-op(center, flex-start);
    }
    
    position: relative;

    @include make-before{
      opacity: 0;
      width: 0;
      height: 1px;
      background-color: #171820;
      margin-right: 0;
      display: inline-block;
      transition: all 0.3s;
    }
  }

  .icon-check{
    width: 23px;
    height: 13px;
    opacity: 0;
    transition: all 0.2s;
  }
}

.type-slct-list.is-active{ // 회원유형 및 형태 선택할 때 체크효과
  .type-name{
    font-weight: 600;
  }

  .type-name:before{
    width: 20px;
    margin-right: 10px;
    opacity: 1;
  }

  .icon-check{
    opacity: 1;
  }
}

.auth-skip-ment{ // auth 관련 건너뛰기 멘트
  @include flex-col;
  @include flex-op(center, center);

  gap: 12px;
  padding: 50px 0 20px;

  .skip-ment{
    @include font-op($w: 500, $c: #8E909F){
      font-size: 12px;
    }
  }

  .btn-txt{
    &:hover{
      text-decoration: underline;
    }
  }
}

.auth-complete-cont{ // auth 관련 회원가입 완료 박스
  margin-top: -15px;
  color: #171820;

  .ttl-grp{
    margin-bottom: 30px;
  }

  .ttl{
    font-size: 29px;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
  }

  .ttl-sub{
    font-size: 16px;
    line-height: 1.5;

    .bold{
      font-weight: 300;
      -webkit-text-stroke: 1px #171820;
    }
  }

  .inp-btn-grp{
    margin-bottom: 50px;
  }
}

/* ========== END auth 공통 ========== */

/* ========== 로그인 ========== */

.color-gray {
  color: #B8BAC7;
  font-weight: 600;
}

.page {
  width: 100%;

  &.auth-page {
    background-color: #F9F9FB;

    .page-container{
      width: 100%;
      min-height: calc(100vh - 330px); // viewport height에 header + footer 높이 빼기
      padding: 40px 0;
    }
  }

  &.login-page {
    background-color: #fff;
  }
}

.narrow-panel {
  width: 420px;
  margin: 0 auto;
}

.narrow-panel.w-380{
  width: 380px;
}

.auth-panel {
  margin: 0 auto 150px;
  padding: 40px 20px 30px;
  background-color: #fff;
}

.banner-wrap {
  width: 100%;
  height: 160px;
}

.effect-ttl {
  font-size: rem(28);
  font-weight: 400;
  color: #171820;
  line-height: 1.3;
  margin: 80px 0 14px;

  .bold-txt {
    font-weight: 500;
  }
}

.effect-inp-wrap {
  padding-bottom: 10px;
}

.effect-inp-grp{
  width: 100%;
  margin: 25px 0;
  position: relative;
  height: 50px;
  
  .label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-size: rem(16);
    color: #B8BAC7;
    font-weight: 400;
    transition: all .2s;
    z-index: 0;
  }

  .input {
    @include input-reset;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: rem(16);
    font-weight: 500;
    color: #171820;
    z-index: 1;
    border-bottom: 1px solid #B8BAC7;

    &:focus {
      border-bottom: 1px solid #00EB79;
    }
  }
}

.effect-inp-grp.is-focused {

  .label {
    font-size: rem(12);
    top: 0;
  }
}

.find-wrap {
  margin: 20px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: rem(14);

  .dec {
    color: #5C5E70;
    font-weight: 500;
  }

  .btn-wrap {
    display: flex;
    gap: 23px;

    .find-link {
      position: relative;
      color: #171820;
      font-weight: 600;

      &:last-child {

        &::after {
          display: none;
        }
      }

      &::after {
        position: absolute;
        left: auto;
        right: -11.5px;
        top: 50%;
        transform: translateY(-50%);
        content: '';
        display: inline-block;
        width: 1px;
        height: 90%;
        background-color: #8E909F;
        cursor: auto;
        
      }
    }
  }
}

.btn-join-wrap {
  padding-top: 20px;
}

/* ========== END 로그인 ========== */

/* ========== 아이디 찾기 ========== */

.confirm-ment {
  font-size: rem(13);
  font-weight: 500;
  color: #3060FF;
  margin-top: 10px;
}

.print-grp {
  padding-bottom: 90px;

  &.print-pw-grp {
    padding-bottom: 30px;
  }

  .print-ment {
    font-size: rem(14);
    font-weight: 500;
    color: #5C5E70;
    text-align: center;
    margin-bottom: 14px;
    line-height: 1.45;
  }

  .print-value {
    font-size: rem(20);
    font-weight: 600;
    color: #171820;
    text-align: center;
    padding: 17px 0;
    background-color: #F9F9FB;
  }
}

/* ========== END 아이디 찾기 ========== */

/* ========== 비밀번호 찾기 - 이메일 전송 ========== */

.time-btn-wrap {
  text-align: center;
  padding: 4px 0 10px;

  .time {
    font-size: rem(14);
    font-weight: 600;
    color: #171820;
    margin-bottom: 10px;
    letter-spacing: -.5px;
    text-decoration: underline;
  }

  .btn-resend {
    min-width: 100px;
  }
}

/* ========== END 비밀번호 찾기 - 이메일 전송 ========== */