/* ========== company 관련 애니메이션 ========== */

@keyframes slideup {
  from {
    transform: translateY(100%);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.895, 0, 0.18, 1);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ========== END company 관련 애니메이션 ========== */

/* ========== 공지사항 ========== */

.wide-panel {
  width: 90%;
  max-width: 1090px;
  margin: 0 auto;
}

.company-hgrp {
  background-color: #fff;
  padding: 90px 0 80px;

  .ttl {
    font-size: rem(18);
    font-weight: 500;
    color: #171820;
    margin-bottom: 30px;
    overflow: hidden;

    .txt {
      display: inline-block;
      animation-name: slideup;
      animation-duration: 1.3s;
    }
  }

  .ttl-sub {
    font-size: rem(45);
    font-weight: 500;
    color: #171820;
    line-height: 1.25;
    overflow: hidden;

    .txt1 {
      display: inline-block;
      animation-name: slideup;
      animation-duration: 1.6s;
    }

    .txt2 {
      display: inline-block;
      animation-name: slideup;
      animation-duration: 1.9s;
    }
  }
}

.company-cont-wrap {
  background-color: #F9F9FB;
  padding: 50px 0 140px;
  animation-name: slideup;
  animation-duration: 2s;
}

.board-tab-all-wrap {
  background-color: #fff;
}

.board-cont-list-space {
  width: 100%;
  height: 10px;
  background-color: #F9F9FB;
}

.board-cont-list {
  padding: 0 40px;

  .ttl-box-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .ttl-box-right {
    display: flex;
    align-items: center;
    min-width: 110px;
  }

  &.is-active {

    .board-cont-ttl-box {
      border-bottom: 1px solid #DDDEE6;
    }

    .ttl-box-left {

      .ttl {
        font-weight: 500;
      }
    }
    
    .board-cont-box {
      display: block;
    }

    .ttl-box-icon {
      transform: rotate(180deg);
    }
  }
}

.board-cont-ttl-box {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
  cursor: pointer;
}

.ttl-box-left {

  .no {
    display: inline-block;
    min-width: 70px;
    font-size: rem(14);
    font-weight: 400;
    color: #8E909F;
  }

  .ttl {
    font-size: rem(18);
    font-weight: 400;
    color: #171820;
  }
}

.ttl-box-date {
  font-size: rem(13);
  font-weight: 500;
  color: #B0B1BC;
  margin-right: 22px;
  margin-left: 10px;
  letter-spacing: -0.5px;
}

.board-cont-box {
  padding: 40px 0 40px 70px;
  display: none;

  .q-cont-box {
    display: flex;
    align-items: flex-start;
  }
  
  .q-cont {
    font-size: rem(16);
    font-weight: 400;
    color: #5C5E70;
    line-height: 1.5;
  }
}

/* ========== END 공지사항 ========== */

/* ========== 자주묻는질문 ========== */

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 36px;
  min-height: 36px;
  border-radius: 50%;
  background-color: #171820;
  margin-right: 34px;
}

.icon-a {
  margin-right: 15px;
  margin-top: 2px;
}

/* ========== END 자주묻는질문 ========== */

/* ========== 1:1 문의 ========== */

.inquiry-page{
  .page-container{
    padding-bottom: 200px;
  }

  .company-hgrp{
    padding: 90px 0 70px;
  }

  .tab{
    margin-bottom: 30px;
  }

  .inquiry-ffieldset{
    margin: 40px 0;
  }

  .txtsm-center-grp{
    padding: 50px 0 40px;
  }

  .submit-btn{
    display: block;
    width: 100%;
    max-width: 248px;
    margin: 0 auto;
  }
}

.inquiry-ffieldset{ // 페이지 구성요소: 1:1문의 - 필드셋
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;

  .lbel-inp-grp:last-child{
    margin-bottom: 0;
  }

  textarea.inp{
    height: 234px;
  }
}

.inquiry-ffieldset-grid{ // 페이지 구성요소: 1:1문의 - 필드셋 내 그리드
  flex: 1 1 auto;
}

.txtsm-center-grp{ // 페이지 구성요소: 1:1문의 - 수신여부 선택
  @include flex-col;
  @include flex-op(center, center);

  gap: 15px;

  .txtsm{
    @include font-op($w: 500, $c: #8E909F){
      font-size: 12px;
    }
  }
  
  .center-grp{
    @include flex-center;
    
    gap: 40px;
  }
}

.inquiry-history-wrap { // 페이지 구성요소: 1:1 문의내역 영역 마진
  margin: 60px 0;
}

.inquiry-list-grp{ // 페이지 구성요소: 1:1 문의 게시판 list group
  width: 100%;

  .board-list{
    .td-subject{
      border-left: 1px solid #DDDEE6;
      padding-left: 15.5px;
    }
  }
}

.inquiry-detail-page{ // 페이지 구성요소: 1:1 문의상세 페이지
  .company-hgrp{
    padding-bottom: 0;

    .ttl{
      margin-bottom: 20px;
    }
  }

  .board-etc-txt{
    font-size: 13px;
    color: #B0B1BC;
  }
}

.inquiry-history-detail-wrap{
  padding-bottom: 116px;
}

.board-detail-hd{ // 페이지 구성요소: 1:1 문의 게시판 detail 헤더
  width: 100%;
  border-bottom: 1px solid #171820;
  padding: 20px 0;

  .bhd-cat{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .bhd-subject-grp{
    @include flex{
      @include flex-op(flex-end, flex-start);
    }
  }

  .bhd-subject{
    font-size: 26px;
    font-weight: 400;
    padding-right: 20px;
    line-height: 1.4;
  }

  .bhd-etc-grp{
    @include flex{
      @include flex-op(center, flex-start);
    }

    gap: 15px;

    margin-left: auto;
    margin-right: 0;
    flex-shrink: 0;
    padding-bottom: 5px;

    .badge-qa-state{
      margin-right: 5px;
    }
  }
}

.board-detail-cont{ // 페이지 구성요소: 1:1 문의 게시판 detail 컨텐츠영역
  border-bottom: 1px solid #DDDEE6;

  .bcont{
    @include font-op($c: #5C5E70){
      font-size: 16px;
    }

    width: 100%;
    padding: 40px;
    border-bottom: 1px solid #DDDEE6;
    line-height: 1.5;
    
    &:last-child{
      border-bottom: 0;
    }
  }

  .p-preline{
    white-space: pre-line;
  }

  .bcont-ttl{
    @include flex{
      @include flex-op(center, space-between);
    }

    width: 100%;

    .bold{
      @include font-op($w: 500, $c: #171820){
        font-size: 18px;
      }
    }

    margin-bottom: 25px;
  }
}

/* ========== END 1:1 문의 ========== */