// layout
.right-fixed {
  @include fixed($t: 110px, $l: 50%);
  
  width: 90%;
  max-width: 1090px;
  z-index: 1;
  transform: translateX(-50%);

  .fixed-con-container {
    @include absolute($t: 0, $l: 100%);
  
    width: 220px;
    margin-left: 20px;
    background-color: white;
  }
  
  .fixed-con-ttl {
    padding: 14px 25px 11px;
    border: 1px solid #171820;
    font-size: rem(13);
    font-weight: 400;
    color: #171820;
    -webkit-text-stroke: 0.3px #171820;
  }
  
  .fixed-con-contents {
    max-height: 520px;
    overflow: auto;
    border: 1px solid #DDDEE6;
  
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #00EB79;
    }
  }
  
  .fixed-con-list {
    position: relative;
    padding: 21px 25px 26px;
    border-top: 1px solid #DDDEE6;
  
    &:first-child {
      border-top: 0;
    }
  
    .date {
      padding-top: 7px;
      font-size: rem(11);
      font-weight: 400;
      color: #8E909F;
    }
  
    .info-list {
      padding-top: 7px;
    }
  
    .info {
      position: relative;
      margin-top: 7px;
      padding-left: 10px;
      font-size: rem(13);
      font-weight: 400;
      color: #171820;
      -webkit-text-stroke: 0.3px #171820;
  
      @include make-before {
        @include absolute($t: 5px, $l: 0);
        @include circle(4px);
  
        background-color: #5C5E70;
      }
    }
  
    .view-link {
      @include absolute($t: 26px, $r: 25px);
  
      font-size: rem(12);
      font-weight: 400;
      color: #5C5E70;
    }
  }
}

.bottom-fixed-title {
  @include fixed($b: 0, $l: 0);
  
  z-index: 10;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 10px rgba(23, 24, 32, 0.1);
}

.bottom-fixed-conts {
  @include fixed($b: 0, $l: 0);
  
  z-index: 8;
  width: 100%;
}

.etpr-info-shot {
  padding-top: 15px;

  .avatar-with-name {
    position: relative;
    align-items: flex-start;

    .name {
      height: 22px;
      font-size: rem(22);
      line-height: 22px;
    }

    .name-subtxt-grp {
      height: 14px;
      margin: 5px 0;
      font-size: rem(14);
      line-height: 14px;
    }
  }

  .avatar {
    @include wh(50px, 50px);
  }

  .btn-square-bd {
    @include absolute($t: 0, $r: 0);
  }

  .card-text {
    padding-top: 40px;
    padding-bottom: 23px;

    .desc-wrap {
      position: relative;
      height: 100%;
    }

    .text-wrap {
      @include flex-col;
      
      justify-content: space-between;
      height: calc(100% - 78px);
    }

    .info-txt {
      padding-top: 25px;
      line-height: 1.54;
      font-size: rem(22);
      font-weight: 400;
      color: #595959;
      -webkit-text-stroke: 0.3px;
    }

    .edit-date {
      margin: 20px 0 14px;
      font-size: rem(14);
      font-weight: 400;
      color: #8E909F;
      -webkit-text-stroke: 0.4px;
    }

    .btn-bd-blue {
      box-shadow: none;
    }
  }
}

.etpr-dt-txt {
  .label {
    font-size: rem(16);
    font-weight: 500;
    color: #171820;
  }

  .label-txt {
    padding-top: 16px;
    line-height: 1.53;
    font-size: rem(15);
    font-weight: 400;
    color: #5C5E70;
    -webkit-text-stroke: 0.2px;
  }
}

.active-ttl-container {
  margin-bottom: 60px;
  padding: 0;
}

.active-ttl-inner {
  @include flex-center;

  .active-ttl {
    position: relative;
    margin: 0 22px;
    padding: 22px 0;
    font-size: rem(18);
    font-weight: 400;
    color: #171820;
    cursor:pointer;

    &:hover {
      font-weight: 500;
    }
  }

  .active-ttl.active {
    font-weight: 500;
    
    @include make-after {
      @include absolute($b:0, $l: 0);
      @include wh(100%, 3px);
      
      background-color: #00EB79;
    }
  }
}

.etpr-panel-wrap {
  .white-panel {
    // - panel-title - bot-txt
    height: calc(100% - 40px - 27px);
    padding: 40px;
  }

  .bot-txt {
    margin-top: 15px;
    font-size: rem(12);
    font-weight: 400;
    color: #8E909F;
    text-align: right;
    -webkit-text-stroke: 0.2px #8E909F;
  }
}

.panel-ttl {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: rem(18);
  font-weight: 500;
  color: #5C5E70;
  
  .flex-ttl {
    display: flex;
    align-items: center;
  }

  .check-wrap {
    margin-right: 8px;
  }

  .hover-desc {
    margin-left: 8px;
  }
}

.etpr-main-conts {
  padding-bottom: 50px;
  border-bottom: 1px solid #DDDEE6;
}

.common-info-container {
  .common-info-list {
    display: flex;
    margin-top: 26px;
    line-height: 1.5;

    &:first-child {
      margin-top: 0;
    }

    .ttl {
      flex: 0 0 9em;
      font-size: rem(15);
      font-weight: 400;
      color: #8E909F;
      -webkit-text-stroke: 0.2px #8e909f;
    }

    .dec {
      width: 100%;
      font-size: rem(15);
      font-weight: 400;
      color: #171820;
      -webkit-text-stroke: 0.2px #171820;
    }

    .comment {
      font-size: rem(13);
      font-weight: 400;
      color: #8E909F;
    }

    .tag-badge {
      display: inline-block;
      margin-bottom: 5px;
      margin-right: 5px;
      padding: 10px 15px;
      border-radius: 50px;
      background-color: #DFFFE8;
      font-size: rem(13);
      font-weight: 500;
      color: #00CE6A;
    }
  }

  .tag-list {
    border-top: 1px solid #DDDEE6;
    padding-top: 26px;
  }

  .scale-list {
    .dec {
      text-align: right;
    }
  }
}

.news-conts {
  .flexable-container {
    justify-content: flex-start;
    gap: 0 10px;
  }
}

.card-news {
  display: block;
  background-color: white;

  .card-text {
    padding: 30px 20px;
  }

  .name {
    font-size: rem(14);
    font-weight: 600;
    color: #9E9E9E;
    text-transform: uppercase;
    -webkit-text-stroke: 0.2px #9E9E9E;
  }

  .ttl {
    @include ellipse(1, 18px);

    margin-top: 20px;
    font-size: rem(18);
    font-weight: 500;
    color: #171820;
    -webkit-text-stroke: 0.2px #171820;
  }

  .dec {
    @include ellipse(3, 23px);

    margin-top: 15px;
    font-size: rem(15);
    font-weight: 400;
    color: #5C5E70;
    -webkit-text-stroke: 0.2px #5C5E70;
  }

  .date {
    margin-top: 18px;
    font-size: rem(13);
    font-weight: 400;
    color: #B8BAC7;
    -webkit-text-stroke: 0.2px #B8BAC7;
  }
}

.review-container {
  padding-bottom: 100px;

  .review-card {
    margin-bottom: 10px;
  }

  .pagination {
    margin-top: 50px;
  }
}

.review-inner {
  @include flex;

  .left-conts {
    flex: 0 0 120px;
  }

  .name {
    font-size: rem(12);
    font-weight: 400;
    color: #8E909F;
    -webkit-text-stroke: 0.1px #8E909F;
  }

  .type {
    margin: 5px 0 7px;
    font-size: rem(14);
    font-weight: 500;
    color: #000000;
    -webkit-text-stroke: 0.3px #000000;
  }

  .middle-conts {
    flex: 1 1 100%;
    line-height: 1.64;
    font-size: rem(14);
    font-weight: 400;
    color: #5C5E70;
    -webkit-text-stroke: 0.3px #5C5E70;
  }

  .right-conts {
    flex: 0 0 150px;
    font-size: rem(13);
    font-weight: 400;
    color: #B8BAC7;
    text-align: right;
    -webkit-text-stroke: 0.2px #B8BAC7;
  }
}

//blur contents
.cover-blur-container {
  @include absolute($t: 50%, $l: 50%);

  display: none;
  z-index: 3;
  width: 80%;
  max-width: 305px;
  padding: 32px 20px 35px;
  border: 2px solid #00EB79;
  background-color: white;
  transform: translate(-50%, -50%);
  text-align: center;

  .text {
    margin-top: 8px;
    font-size: rem(18);
    font-weight: 500;
    color: #5C5E70;
    line-height: 1.66;
  }
}

.cover-blur {
  .cover-blur-container {
    display: block;
  }

  .common-info-container {
    filter: blur(10px);
    user-select: none;
  }
}

// page
// info page
.etpr-prifile-page {
  background-color: #F9F9FB;

  .hover-desc-box{
    min-width: 180px;
  }

  .page-container {
    position: relative;
    padding-top: 40px;
  }

  .wide-panel {
    position: relative;
    // z-index: 5;
  }

  .section-ttl {
    @include flex{
      align-items: center;
    }

    position: relative;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 600;
    color: #171820;

    .check-wrap {
      margin-right: 8px;
    }

    .badge {
      @include absolute($t: 0, $r: 0);
    }

    .ttl-dec {
      display: flex;
      margin-top: 12px;

      .txt {
        margin-right: 5px;
        font-size: rem(15);
        font-weight: 400;
        color: #5C5E70;
        -webkit-text-stroke: 0.2px #5C5E70;
      }
    }

    + .flexable-container {
        padding-top: 0;
      }
  }
  
  .section-ttl.section-ttl-verti{
    @include flex-col;
    @include flex-op(flex-start, flex-start);
  }

  .badge {
    display: inline-block;
    padding: 6px 8px;
    border: 1px solid #5C5E70;
    background-color: #8E909F;
    font-size: rem(12);
    font-weight: 400;
    color: white;

    &.yellow {
      border-color: #FF9900;
      background-color: #FFB300;
    }

    &.green {
      border-color: #009A75;
      background-color: #00BF92;
    }
  }

  .top-cont-wrap {
    display: flex;
    margin-bottom: 20px;
    padding: 20px 40px;
    border: 1px solid #5C5E70;
    background-color: white;
  }

  .empty-wrap {
    margin-top: 50px;
  }

  .invest-list {
    padding-right: rem(50);

    .ttl {
      margin-bottom: 8px;
      font-size: rem(15);
      font-weight: 400;
      color: #8E909F;
      -webkit-text-stroke: 0.2px #8e909f;
    }

    .dec {
      font-size: rem(18);
      font-weight: 500;
      color: #171820;
      -webkit-text-stroke: 0.2px #171820;
    }
  }

  .member-list {
    background-color: white;
    border: 0;
  }
}

// report page
.etpr-profile-report-page {
  .etpr-tab-container {
    padding-bottom: 100px;
  }

  .information-txt {
    @include flex-center;

    margin-bottom: 40px;
  }

  .empty-wrap {
    padding: 40px 0 100px;
  }
}

// report detail page
.etpr-profile-report-page {
  .etpr-tab-container {
    padding-bottom: 100px;
  }

  .information-txt {
    @include flex-center;

    margin-bottom: 40px;
  }

  .empty-wrap {
    padding: 40px 0 100px;
  }
}

// board page
.etpr-profile-board-page {
  .etpr-tab-container {
    padding-bottom: 100px;
  }

  .board-list-grp {
    background-color: white;

    .empty-wrap {
      padding: 40px 0 100px;
    }
  }
}

// board detail page
.etpr-profile-board-page {
  .etpr-tab-container {
    padding-bottom: 100px;
  }
}

//board ctreate page
.etpr-prifile-board-create-page {
  .page-container {
    padding-bottom: 150px;
  }

  .section-ttl {
    margin-top: 13px;
    margin-bottom: 35px;
    font-size: rem(20);
  }

  .white-panel {
    margin-top: 10px;
  }

  .editor-container {
    padding: 30px 40px 40px;
  }

  .panel-ttl {
    font-size: rem(16);
    font-weight: 600;
    color: #171820;
  }

  .editor-wrap {
    min-height: 500px;
    margin: 10px 0 40px;
    border: 1px solid #DDDEE6;
  }
}

// only investor
// factsheet request in top
.fc-request-container {
  padding: 0 40px;
  background-color: white;

  .fc-request-ttl {
    @include bg-op($s: 9px, $p: 100% 50%);
    @include bg-url('btn', 'btn-spread.svg');

    padding: 24px 0;
    font-size: rem(16);
    font-weight: 400;
    color: #171820;
    -webkit-text-stroke: 0.3px #171820;
    cursor:pointer;

    &.active {
      @include bg-url('btn', 'btn-fold.svg');

      border-bottom: 1px solid #DDDEE6;
    }
  }

  .active + .fc-requesr-conts {
    height: auto;
    padding: 20px 0 30px;
  }

  .fc-requesr-conts {
    overflow: hidden;
    height: 0;
    transition: all 0.3s;
  }

  .point-wrap {
    @include flex;

    .point {
      @include flex-center;

      margin-right: 25px;
    }

    .ttl {
      padding-right: 10px;
      font-size: rem(12);
      font-weight: 400;
      color: #5C5E70;
    }

    .bold {
      padding-right: 6px;
      font-size: rem(18);
      font-weight: 600;
      color: #171820;
      -webkit-text-stroke: 0.2px #171820;
    }
  }

  .input-wrap {
    .input-ttl {
      margin-top: 20px;
      font-size: rem(16);
      font-weight: 600;
      color: #171820;
      -webkit-text-stroke: 0.2px #171820;
    }

    .inp-grp {
      border: 1px solid #DDDEE6;
    }

    .inp {
      border: 3px solid transparent;
    }

    .inp:focus {
      border: 3px solid #171820;
      box-shadow: none;
    }
  }

  .inp-grp {
    margin-top: 20px;
  }

  .btn-wrap {
    @include flex {
      align-items: flex-start;
      justify-content: space-between;
    }

    margin-top: 30px;

    .btn-md {
      -webkit-text-stroke: 0.2px white;
    }

    .icon {
      margin-right: 8px;
    }
  }
}

// factsheet request in bottom
.check-fc-container {
  position: relative;

  &.active {
    .check-fc-conts-toggle {
      .open {
        display: none;
      }

      .close {
        display: block;
      }
    }

    .check-fc-conts {
      height: auto;
      padding: 20px 40px 73px;
    }
  }

  .check-fc-ttl {
    @include flex{
      align-items: center;
      justify-content: space-between;
    }

    height: 75px;

    .txt-wrap {
      @include flex {
        align-items: center;
      }
    }

    .text {
      @include flex {
        align-items: center;
      }

      .ttl {
        margin-right: 10px;
        font-size: rem(15);
        font-weight: 400;
        color: #5C5E70;
        -webkit-text-stroke: 0.2px #5C5E70;
      }

      .bold {
        font-size: rem(28);
        font-weight: 600;
        color: #171820;
        -webkit-text-stroke: 0.2px #171820;
      }

      .badge-p {
        @include wh(30px, 30px);

        margin-left: 8px;
        background-size: 100% 100%;
      }
    }

    .use-point {
      margin-left: 74px;
    }
  }

  .check-fc-conts-toggle {
    @include absolute($b: 100%, $l: 50%);
    @include flex;

    overflow: hidden;
    width: 115px;
    height: 28px;
    transform: translateX(-50%);
    cursor:pointer;

    @include make-before {
      z-index: 0;
      position: relative;
      left: 7px;
      display: block;
      width: 13px;
      height: 28px;
      border-left: 1px solid #DDDEE6;
      background-color: white;
      transform: skew(-27deg);
    }

    @include make-after {
      z-index: 0;
      position: relative;
      right: 7px;
      display: block;
      width: 13px;
      height: 28px;
      border-right: 1px solid #DDDEE6;
      background-color: white;
      transform: skew(27deg);
    }

    .conts-wrap {
      @include flex-center;
      @include wh(90px, 100%);

      position: relative;
      z-index: 1;
      border-top: 1px solid #DDDEE6;
      background-color: white;
    }

    .close {
      display: none;
    }
  }

  .check-fc-conts {
    overflow: hidden;
    height: 0;
    padding-bottom: 73px;
    border: 1px solid #DDDEE6;
    background-color: white;
    transition: all 0.3s;
  }

  .check-fc-list-wrap {
    overflow: auto;
    height: 200px;
    padding-right: 16px;
  
    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #00EB79;
    }
  }

  .check-fc-list {
    @include flex {
      align-items: center;
      justify-content: space-between;
    }

    margin-bottom: 5px;
    padding: 16px 20px;
    border: 1px solid #DDDEE6;

    .text {
      font-size: rem(15);
      font-weight: 400;
      color: #5C5E70;
      -webkit-text-stroke: 0.1px #5C5E70;
    }
  }

  .list-right-conts {
    @include flex {
      justify-content: flex-end;
    }

    .use-point {
      @include flex-center;

      margin-right: 38px;

      .bold {
        padding-right: 6px;
        font-size: rem(18);
        font-weight: 600;
        color: #171820;
        -webkit-text-stroke: 0.2px #171820;
      }
    }
  }
}

.check-out-btn {
  @include input-reset;

  transform: translateY(2px);
  cursor: pointer;
}
