// common
.mgt-20 {
  margin-top: 20px;
}

.mgt-30 {
  margin-top: 30px;
}

.white-panel {
  padding: 20px 40px;
  background-color: white;
}

.flexable-container {
  @include flex {
    @include flex-op(streach, space-between);

    .flexable-inner {
      flex: 0 0 calc(50% - 10px);
    }
  }
}

// page
.etpr-prifile-page {
  background-color: #F9F9FB;

  .page-container {
    position: relative;
    padding-top: 40px;
  }

  .wide-panel {
    position: relative;
    z-index: 5;
  }
}

.right-fixed {
  @include fixed($t: 70px, $l: 50%);
  
  width: 90%;
  max-width: 1090px;
  z-index: 1;
  transform: translateX(-50%);
}

.right-con-container {
  @include absolute($t: 0, $l: 100%);
  
  width: 220px;
  margin-left: 20px;
}

.etpr-info-shot {
  padding-top: 15px;

  .avatar-with-name {
    position: relative;
    align-items: flex-start;

    .name {
      height: 22px;
      font-size: rem(22);
      line-height: 22px;
    }

    .name-subtxt-grp {
      height: 14px;
      padding: 5px 0;
      font-size: rem(14);
      line-height: 14px;
    }
  }

  .avatar {
    @include wh(50px, 50px);
  }

  .btn-square-bd {
    @include absolute($t: 0, $r: 0);
  }

  .card-text {
    padding-top: 40px;
    padding-bottom: 23px;

    .desc-wrap {
      position: relative;
      height: 100%;
      padding-bottom: 65px;
    }

    .info-txt {
      padding-top: 25px;
      line-height: 1.54;
      font-size: rem(22);
      font-weight: 400;
      color: #595959;
      -webkit-text-stroke: 0.3px;
    }

    .edit-date {
      @include absolute($b: 80px, $l: 0);

      font-size: rem(14);
      font-weight: 400;
      color: #8E909F;
      -webkit-text-stroke: 0.4px;
    }

    .btn-full {
      @include absolute($b: 0, $l: 0);
    }
  }
}

.etpr-dt-txt {
  .label {
    font-size: rem(16);
    font-weight: 500;
    color: #171820;
  }

  .label-txt {
    padding-top: 16px;
    line-height: 1.53;
    font-size: rem(15);
    font-weight: 400;
    color: #5C5E70;
    -webkit-text-stroke: 0.2px;
  }
}

.active-ttl-container {
  margin-bottom: 60px;
  padding: 0;
}

.active-ttl-inner {
  @include flex-center;

  .active-ttl {
    position: relative;
    margin: 0 22px;
    padding: 22px 0;
    font-size: rem(18);
    font-weight: 400;
    color: #171820;
  }

  .active-ttl.active {
    font-weight: 500;
    
    @include make-after {
      @include absolute($b:0, $l: 0);
      @include wh(100%, 3px);
      
      background-color: #00EB79;
    }
  }
}