/* ========== 1:1 문의 ========== */
.inquiry-page{
  .page-container{
    padding-bottom: 200px;
  }

  .company-hgrp{
    padding: 90px 0 70px;
  }

  .tab{
    margin-bottom: 30px;
  }

  .inquiry-ffieldset{
    margin: 40px 0;
  }

  .txtsm-center-grp{
    padding: 50px 0 40px;
  }

  .submit-btn{
    display: block;
    width: 100%;
    max-width: 248px;
    margin: 0 auto;
  }
}

// 페이지 구성요소) 1:1문의 - 필드셋
.inquiry-ffieldset{
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  gap: 20px;

  .lbel-inp-grp:last-child{
    margin-bottom: 0;
  }

  textarea.inp{
    height: 234px;
  }
}

.inquiry-ffieldset-grid{
  flex: 1 1 auto;
}

// 페이지 구성요소) 1:1문의 - 수신여부 선택
.txtsm-center-grp{
  @include flex-col;
  @include flex-op(center, center);

  gap: 15px;

  .txtsm{
    @include font-op($w: 500, $c: #8E909F){
      font-size: 12px;
    }
  }
  
  .center-grp{
    @include flex-center;
    
    gap: 40px;
  }
}

// 페이지 구성요소) 1:1 문의내역
.inquiry-history-wrap {
  margin: 60px 0;
}

.inquiry-list-grp{
  width: 100%;

  .board-list{
    .td-subject{
      border-left: 1px solid #DDDEE6;
      padding-left: 15.5px;
    }
  }
}

// 페이지 구성요소) 1:1 문의상세
.inquiry-detail-page{
  .company-hgrp{
    padding-bottom: 0;

    .ttl{
      margin-bottom: 20px;
    }
  }

  .board-etc-txt{
    font-size: 13px;
    color: #B0B1BC;
  }
}

.inquiry-history-detail-wrap{
  padding-bottom: 116px;
}

.board-detail-hd{
  width: 100%;
  border-bottom: 1px solid #171820;
  padding: 20px 0;

  .bhd-cat{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  .bhd-subject-grp{
    @include flex{
      @include flex-op(flex-end, flex-start);
    }
  }

  .bhd-subject{
    font-size: 26px;
    font-weight: 400;
    padding-right: 20px;
    line-height: 1.4;
  }

  .bhd-etc-grp{
    @include flex{
      @include flex-op(center, flex-start);
    }

    gap: 15px;

    margin-left: auto;
    margin-right: 0;
    flex-shrink: 0;
    padding-bottom: 5px;

    .badge-qa-state{
      margin-right: 5px;
    }
  }
}

.board-detail-cont{
  border-bottom: 1px solid #DDDEE6;

  .bcont{
    @include font-op($c: #5C5E70){
      font-size: 16px;
    }

    width: 100%;
    padding: 40px;
    border-bottom: 1px solid #DDDEE6;
    line-height: 1.5;
    
    &:last-child{
      border-bottom: 0;
    }
  }

  .bcont-ttl{
    @include flex{
      @include flex-op(center, space-between);
    }

    width: 100%;

    .bold{
      @include font-op($w: 500, $c: #171820){
        font-size: 18px;
      }
    }

    margin-bottom: 25px;
  }
}

.board-detail-nav{
  @include flex-center;

  margin-top: 40px;

  .bnav-ctrl-list{
    width: 100%;
    max-width: 120px;
  }

  .bnav-ctrl{
    @include flex-center;

    display: inline-flex;
    gap: 15px;
    cursor: pointer;

    .btn-square-bd{
      width: 42px;
      height: 40px;
      border-color: #C3C3CE;
    }

    .txt{
      font-size: 14px;
      font-weight: 500;
    }
  }

  .bnav-ctrl-prev{
    margin-left: 0;
    margin-right: auto;
  }

  .bnav-ctrl-next{
    margin-right: 0;
    margin-left: auto;
  }
}