/* ========== main 관련 애니메이션 ========== */

@keyframes ifn-rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

/* ========== END main 관련 애니메이션 ========== */

/* ========== section-visual ========== */

.section-visual {
  position: relative;
  width: 100%;
  height: 460px;
  padding: 100px 0 181.5px;
  @include bg-url('img', 'img-main-visual.png');
  background-size: cover;
  overflow: hidden;

  .icon-factsheet {
    margin-bottom: 21.5px;
  }

  .main-hgrp {
    margin-bottom: 40px;
  }

  .ttl-sub {
    font-size: rem(26);
    font-weight: 300;
    color: #fff;
    margin-bottom: 7px;
  }

  .ttl {
    font-size: rem(40);
    font-weight: 500;
    color: #fff;

    .bold-txt {
      font-weight: 600;
    }
  }

  .obj01 {
    position: absolute;
    left: auto;
    right: 50%;
    margin-right: -630px;
    top: 165px;
    z-index: 1;
    opacity: 0.3;
    animation-name: ifn-rotate;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.main-search-grp {
  width: 100%;
  position: relative;
  z-index: 10;
}

/* ========== END section-visual ========== */

/* ========== section-join ========== */

.section-join {
  
  .join-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-80px);
  }

  .join-list {
    flex-grow: 1;
    flex-basis: 33.3%;
    padding: 37px 25px 40px;
    background-repeat: no-repeat;
    background-position: right 16px top 47px;

    &.list-startup {
      background-color: #24252E;
      @include bg-url('img', 'img-join-start.svg');
    }

    &.list-investor {
      background-color: #171820;
      @include bg-url('img', 'img-join-invest.svg');
    }

    &.list-fact-checker {
      background-color: #000;
      @include bg-url('img', 'img-join-checker.svg');
    }
  }

  .role-ttl {
    font-size: rem(26);
    font-weight: 600;
    color: #53FF81;
    margin-bottom: 13px;
  }

  .role-sub {
    font-size: rem(18);
    font-weight: 400;
    color: #fff;
    margin-bottom: 22px;
  }
  
  .role-dec {
    font-size: rem(14);
    font-weight: 400;
    color: #fff;
    opacity: .7;
    line-height: 1.5;
    margin-bottom: 21px;
  }

  .role-link {
    padding: 7px 18px;
    font-size: rem(14);
    font-weight: 400;
    color: #00EB79;
    border: 2px solid #00CE6A;
    border-radius: 50px;
  }
}
/* ========== END section-join ========== */

.section-swp-wrap{
  width: 100%;
  margin-bottom: 85px;
  position: relative;

  .wide-panel.test{
    @include translate($l: 50%);

    border-left: 1px solid aqua;
    border-right: 1px solid aqua;
    width: 90%;
    max-width: 1090px;
    height: 500px;
  }
}


// 12. 슬라이드 관련 스타일
.swiper-wide-panel{
  width: 90%;
  // max-width: 1130px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;

  .swiper-pagination{
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: auto;
  }

  .swiper-pagination-bullet{
    margin: 10px 0;
    display: block;
    background: #DDDEE6;
    opacity: 1;
  }

  .swiper-pagination-bullet-active{
    background: #00EB79;    
  }
}

.main-swiper-container-frame {
  width: 100%;
  height: 484px;
  overflow: hidden;
  position: relative;
  transform: scale(0.94);

  .swiper-container {
    position: absolute;
    top: -956.3%;
    top: -956.3%;
    width: 100%;
  }

  .swiper-pagination-bullet{
    display: block;
    margin: 10px 0;
  }
  
  .swiper-pagination-bullet-active{
    background-color: #00EB79;
  }
}

.main-swiper-container {
  .swiper-slide {
    padding: 0 20px;
    .info-card {
      position: relative;
      border: 1px solid #dddee6;
      box-shadow: none;
      cursor: pointer;
      z-index: 10;

      @include make-before {
        @include absolute($t: -1px, $l: -1px);

        width: calc(100% + 2px);
        height: calc(100% + 2px);
        background-color: white;
        z-index: 10;
        opacity: 0.4;
        transition: all 0.3s;
      }
    }
  }

  .swiper-slide-active {
    .info-card {
      box-shadow: 0 10px 20px rgb(23 24 32 / 8%);
      z-index: 20;

      &:before {
        display: none;
      }
    }
  }
}

// .swiper-wrapper {
//   height: 485px;
// }

// .swiper-slide {
  // transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) !important;
  // border: 1px solid #000;
  // height: 450px;
// }

// .swiper-slide-prev {
//   transform: translateY(50%) scale(.8) !important;
//   opacity: .5 !important;
// }

// .swiper-slide-next {
//   transform: translateY(-50%) scale(.8) !important;
//   opacity: .5 !important;
// }

/* ========== section-video ========== */

.section-video {
  padding: 70px 0;
  background-color: #1E2031;
  background-image: url(~@/assets/images/img/img-video-left.svg), url(~@/assets/images/img/img-video-right.svg);
  background-size: auto;
  background-position: left top, right top;
  background-repeat: no-repeat;

  .wide-panel {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .video-cont {
    width: 745px;
    height: 419px;
  }

  .badge-flag {
    width: 70px;
    margin-bottom: 24px;
  }

  .logo-word-wh {
    display: block;
    width: 145px;
    margin-bottom: 24.5px;
  }

  .ttl {
    font-size: rem(50);
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
  }

  .dec {
    font-size: rem(15);
    font-weight: 400;
    color: #DDDEE6;
    white-space: pre-line;
    line-height: 1.4;
  }
}

/* ========== END section-video ========== */

/* ========== section-recent-review ========== */

.section-recent-review {
  padding: 80px 0 53.5px;
  overflow: hidden;
  background-color: #F9F9FB;

  .wide-panel {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }

  .recent-review-hgrp {
    min-width: 345px;
  }

  .badge-flag {
    width: 78px;
    margin-bottom: 17px;
  }

  .ttl {
    font-size: rem(25);
    font-weight: 600;
    color: #171820;
    margin-bottom: 20px;
  }

  .dec {
    font-size: rem(15);
    font-weight: 400;
    color: #5C5E70;
    line-height: 1.35;
  }

  .recent-container {
    position: static;
  }

  .recent-review-wrapper {
    width: 1200px;
    height: 297.5px;
  }

  .recent-btn-grp {
    position: absolute;
    left: 0;
    top: auto;
    bottom: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .recent-btn-prev {
    position: static;
    display: inline-block;
    margin-top: 0;
    top: auto;
    left: auto;
    width: 18px;
    height: 18px;
    @include bg-url('btn', 'btn-slide-prev.svg');
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 5px;
  }

  .recent-btn-next {
    position: static;
    display: inline-block;
    margin-top: 0;
    top: auto;
    right: auto;
    width: 18px;
    height: 18px;
    @include bg-url('btn', 'btn-slide-nxt.svg');
    background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 8px;
  }

  .recent-btn {
    @include input-reset;
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
  }

  .recent-btn-pause {
    @include bg-url('btn', 'btn-stop.svg');
    margin-right: 8px;

    &:hover {
      background-color: darken(#fff, 5%);
    }

    &:active {
      background-color: darken(#fff, 10%);
    }
  }
  
  .recent-btn-play {
    @include bg-url('btn', 'btn-play-bk.svg');

    &:hover {
      background-color: darken(#fff, 5%);
    }

    &:active {
      background-color: darken(#fff, 10%);
    }
  }

  .review-card {
    position: relative;
    padding: 20px 20px 34px 20px;
    width: 210px !important;
    height: 270px;
    background-color: #fff;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: auto;
      right: 15px;
      top: auto;
      bottom: -20px;
      border-top: 28px solid transparent;
      border-bottom:28px solid #fff;
      border-right: 28px solid transparent;
      border-left: 28px solid transparent;
      transform: rotate(-45deg);
    }

    .top-info-grp {
      padding-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #DDDEE6;
    }

    .name {
      font-size: rem(12);
      font-weight: 400;
      color: #8E909F;
      margin-bottom: 5px;
    }

    .role {
      font-size: rem(14);
      font-weight: 500;
      color: #000;
    }

    .cont-grp {
      padding-top: 15px;
    }

    .review-cont {
      @include ellipse(6, 1.6);
      margin-bottom: 15px;
      font-size: rem(13);
      font-weight: 400;
      color: #5C5E70;
    }

    .review-date {
      font-size: rem(13);
      font-weight: 400;
      color: #B0B1BC;
    }
  }
}

/* ========== END section-recent-review ========== */

/* ========== section-subscribe ========== */

.section-subscribe {
  padding: 60px 0 90px;

  .badge-flag {
    width: 98px;
    margin-bottom: 12px;
  }

  .ttl {
    font-size: rem(25);
    font-weight: 600;
    color: #171820;
    line-height: 1.3;
    margin-bottom: 40px;
  }

  .chk-grp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;

    .check-onoff {
      margin-right: 7px;
    }

    .check-box-lb {
      font-size: rem(15);
      font-weight: 400;
      color: #8E909F;
    }
  }
}

/* ========== END section-subscribe ========== */


/* ========== section-ftck-visual ========== */
.section-ftck-visual{
  @include flex-center;
  @include flex-col;

  width: 100%;
  padding: 45px 20px;
  background-color: #191F36;
  color: white;

  .name-grp{
    @include flex-center;
    @include flex-col;

    position: relative;
    gap: 7px;
    padding-top: 35px;
    text-align: center;
    line-height: 1.4;
    max-width: 200px;

    .img-word{
      @include translate($l: 50%);

      top: 0;
    }

    .sub-name{
      @include font-op($w: 400){
        font-size: em(18);
      }
    }

    .name{
      @include font-op($w: 600){
        font-size: em(26);
      }
    }

    .point{
      color: #53FF81;
    }
  }
}

.ftck-cnt-list-grp{
  margin-top: 30px;
  padding-bottom: 15px;
}

.ftck-cnt-list{
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  margin: 0 23px;

  .lbel{
    @include font-op($w: 400, $c: #b8bac7){
      font-size: 15px;
    }

    margin-bottom: 10px;
  }

  .amount-item{
    color: white;
    font-size: 15px;

    .amount{
      @include font-op($w: 500){
        font-size: 20px;
      }
    }

    .unit{
      @include font-op($w: 400);
    }
  }
}
/* ========== END section-ftck-visual ========== */

/* ========== section-ftck-list ========== */
.section-ftck-list{
  width: 100%;
  padding: 85px 0;
  background-color: #F9F9FB;
}

.ftck-main-article{
  .article-cont-hgrp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;

    .ttl {
      font-size: em(22);
      font-weight: 500;
      color: #171820;
      text-align: left;
    }

    .btn-all-view {
      @include input-reset;
      cursor: pointer;
      font-size: em(15);
      font-weight: 500;
      color: #171820;
    }
  }
}
/* ========== END section-ftck-list ========== */