/* ========== 마이페이지 > 기업정보 ========== */

/* 마이페이지 > 기업정보 > 제출서류 관리 */
.mypage-etpr-document-manage-form{
  .add-btn{
    margin: 20px 0 10px;
  }
}

/* 마이페이지 > 기업정보 > 구성원 관리 */

.member-list-grp-ttl{ // 구성요소: 구성원 list 총 몇명
  @include flex{
    @include flex-op(center, flex-start);
  }

  margin-bottom: 15px;
  color: #171820;
  gap: 10px;

  .txt{
    font-size: 14px;
    position: relative;

    .bold{
      font-weight: 300;
      -webkit-text-stroke: 1px #171820;
    }
  }

  .txt-right{
    @include flex{
      @include flex-op(center, flex-start);
    }

    margin-left: auto;
    margin-right: 0;
    gap: 10px;
  }
}

.member-list-grp{
  width: 100%;

  .empty-wrap{
    padding: 40px 0;
  }
}

.member-list{
  @include flex{
    @include flex-op(flex-start, flex-start);
  }

  width: 100%;
  margin: 10px 0;
  border: 1px solid #DDDEE6;
  color: #171820;
  padding: 30px 40px 20px;

  &:first-child{
    margin-top: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }

  .avatar{
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin-right: 25px;
  }

  .member-btn-grp{
    margin-left: auto;
    flex-shrink: 0;
    gap: 8px;
  }
}

.member-info{
  width: 100%;

  .account-info{
    @include flex{
      @include flex-op(flex-start, flex-start);
    }
  
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-bottom: 25px;

    .name{
      font-size: 20px;
    }

    .mail{
      width: 100%;
      display: inline-block;
      font-size: 14px;
    }
  }

  .dlist{
    font-size: 13px;

    .lbel{
      flex-shrink: 0;
      width: auto;
      max-width: none;
    }
  }
}

/* 마이페이지 > 기업정보 > 그룹 관리 */

.box-grpmember-list{ // 구성요소: 그룹원 list들
  @include flex{
    @include flex-op(center, flex-start);
  }

  margin: 5px 0;
  padding: 17px 40px;
  position: relative;

  &:hover{
    .tooltip-apply{
      opacity: 1;
      top: -35px;
    }
  }

  .tooltip-apply{
    @include absolute($t: -30px);

    z-index: 1;
    background-color: white;
    box-shadow: 0 3px 6px rgba(#5C5E70, 0.2);
    color: #8E909F;
    padding: 5.5px 8px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.2s;
  }

  .account-type{
    font-size: 13px;
    color: #5C5E70;
    font-weight: 500;
    padding-right: 20px;
    border-right: 1px solid #DDDEE6;
    margin-right: 20px;
  }

  .account-info{
    // @include ellipse(1, 18px);
    @include flex{
      @include flex-op(center, center);
    }
    
    position: relative;
    gap: 10px;

    .name{
      font-size: 16px;
    }

    .mail{
      font-size: 13px;
    }
  }

  .btn-grp{
    margin-left: auto;
    margin-right: 0;

    .btn-xsm{
      padding: 7.5px 15px;
    }

    .btn-bd-light{
      color: #8E909F;
    }
  }
}

.box-grpmember-list.is-active{
  border-color: #5C5E70;
}

/* ========== END 마이페이지 > 기업정보 ========== */