/* ========== 마이페이지 > 기업정보 ========== */

// 마이 페이지 > 기본정보(스타트업)
.article-wrap {
  border-bottom: 1px solid #DDDEE6;
  padding: 30px 0;

  &.border-remove {
    border-bottom: none;
  }

  .ttl {
    font-size: rem(16);
    font-weight: 500;
    color: #171820;
    margin-bottom: 20px;    
    -webkit-text-stroke: 0.5px #171820;
  }

  .ttl-lg {
    font-size: rem(18);
    font-weight: 600;
    color: #171820;
    margin-bottom: 10px;
  }

  .ttl-sub {
    font-size: rem(12);
    font-weight: 400;
    color: #8E909F;
    line-height: 1.3;
  }


  .info-grp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #171820;

    &.auth-info-grp {
      padding-top: 20px;

      .empty-txt {
        font-size: rem(15);
        font-weight: 400;
        color: #B8BAC7;
      }
    }

    &.is-padding-change {
      
      .info {
        padding: 14px 0;
      }
    }

    .label {
      font-size: 15px;
      font-weight: 400;
      flex-basis: 170px;
      padding: 20px 0;
      -webkit-text-stroke: 0.5px #171820;
    }

    .info {
      font-size: rem(15);
      font-weight: 400;
      flex-grow: 1;
      padding: 20px 0;
      border-bottom: 1px solid rgba(#DDDEE6, 0.6);

      &.custom-info {
        line-height: 1.4;
        white-space: pre-line;
      }

      .info-sub {
        font-size: rem(13);
        font-weight: 400;
        color: #8E909F;
      }
    }
  }
}

.profile-image-wrap {

  .cont-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .sub-ttl {
      font-size: rem(14);
      font-weight: 400;
      color: #171820;
      margin-bottom: 10px;
    }
  }

  .left-wrap {
    width: 50%;

    .biz-logo-wrap {
      margin-bottom: 30px;
    }
  }

  .right-wrap {
    width: 50%;
  }
}


// 마이 페이지 > 기본정보 > 기본정보 수정(스타트업)
.article-wrap {

  .ffieldset-guide {
    font-size: rem(12);
    font-weight: 400;
    color: #8E909F;
    line-height: 1.4;
  }

  .flex-row-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .lbel-inp-grp {
      width: 50%;
      margin: 10px 0;

      .lbel-sub {
        font-size: rem(12);
        font-weight: 400;
        color: #8E909F;
        white-space: nowrap;
      }
    }

    .inp-btn-grp {
      width: 50%;
      margin: 10px 0;
    }
  }

  .inp-half-grp {

    .inp-btn-grp {
      width: 50%;
    }

    .info-guide {
      font-size: rem(12);
      font-weight: 400;
      color: #8E909F;
      margin-bottom: 12px;
    }

    .badge-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.profile-image-wrap {
  
  .flex-row-grp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .file-inp-grp {
      width: 50%;
    }
  }
}

.lbel-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;

  .lbel {
    margin-bottom: 0;
  }
  
  .length-txt {
    white-space: nowrap;
    font-size: rem(12);
    font-weight: 400;
    color: #5C5E70;
  }
}


// 마이 페이지 > 기본정보(투자자)
.article-wrap {

  .flex-row-start-grp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;

    .img-wrap {
      flex-basis: 260px;
    }

    .avatar-wrap {
      flex-grow: 1;
    }

    .avatar-with-name {
      margin-bottom: 15px;
    }
  }

  .biz-detail-wrap {
    padding-top: 30px;

    .dec {
      font-size: rem(15);
      font-weight: 400;
      color: #171820;
      line-height: 1.5;
    }
  }
  
  .finance-add-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    padding: 26px 20px 20px 20px;
    background-color: #F9F9FB;
    margin-bottom: 10px;

    .lbel-inp-grp {
      width: 35%;
      margin: 0;
    }

    .btn-md {
      min-width: 100px;
    }
  }

  .finance-list-wrap {
    padding: 10px 20px;
    border: 1px solid #DDDEE6;
    @include custom-scroll($c: #00EB79);

    overflow: auto;
    height: 294px;

    .finance-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      gap: 20px;

      .resource-ttl {
        width: 35%;
        font-size: rem(13);
        font-weight: 500;
        color: #171820;
      }

      .resource-price {
        flex-grow: 1;
        font-size: rem(13);
        font-weight: 400;
        color: #171820;
      }

      .btn-resource-del {
        @include input-reset;
        align-self: flex-end;
        cursor: pointer;
        
      }
    }
  }
}


// 기업정보 > 상세정보 페이지 테이블 관련(스타트업)
.article-wrap .table-all-wrap {
  padding: 0;
}

.table-all-wrap {
  padding: 30px 0;

  .flex-basis-10 {
    flex-basis: 10%;
  }

  .flex-basis-13 {
    flex-basis: 13%;
  }

  .flex-basis-16 {
    flex-basis: 16%;
  }

  .flex-basis-20 {
    flex-basis: 20%;
  }

  .flex-basis-22 {
    flex-basis: 22%;
  }
  
  .flex-basis-26 {
    flex-basis: 26%;
  }

  .flex-basis-28 {
    flex-basis: 28%;
  }

  .flex-basis-38 {
    flex-basis: 38%;
  }

  .flex-basis-61 {
    flex-basis: 61%;
  }

  .flex-basis-76 {
    flex-basis: 76%;
  }

  .txt-left {
    text-align: left;
  }

  .txt-center {
    text-align: center;
  }

  .txt-right {
    text-align: right;
  }

  .ttl-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .table-ttl {
    font-size: rem(18);
    font-weight: 500;
    color: #5C5E70;
  }

  .table-ttl-sub {
    font-size: rem(12);
    font-weight: 400;
    color: #8E909F;
  }

  .table-grp {
    border-bottom: 1px solid #171820;
  }

  .table-hgrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171820;

    .table-txt {
      color: #DDDEE6;
      font-size: rem(13);
      font-weight: 500;
    }
  }

  .table-hlist {
    flex-grow: 1;
    padding: 15px 20px;
    border-right: 1px solid #707070;

    &:last-child {
      border: none;
    }
  }

  .table-cont-wrap {
    
    &.custom-scroll-wrap {
      @include custom-scroll(#00EB79, $w: 6px);
    
      background-color: #fff;
      overflow: auto;
      height: 460px;
    }

    &.empty-cont-wrap {
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;

      .empty-ment {
        font-size: rem(17);
        font-weight: 400;
        color: #8E909F;
      }
    }
  }

  .table-cont-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDDEE6;

    &:last-child{
      border-bottom: 0;
    }

    &.f-bold {
      border-bottom: 1px solid #8E909F;

      .table-txt {
        font-weight: 600;
      }
    }

    &.f-600-lg {

      .table-txt {
        font-size: rem(15);
        font-weight: 600;
      }
    }
  }

  .table-cont-list {
    flex-grow: 1;
    padding: 15px 20px;
  }

  .table-txt {
    font-size: rem(13);
    font-weight: 400;
    color: #171820;

    &.f-bold {
      font-weight: 600;
    }
  }
}

/* 마이페이지 > 기업정보 > 제출서류 관리 */
.mypage-etpr-document-manage-form{
  .add-btn{
    margin: 20px 0 10px;
  }
}

/* 투자자: 마이페이지 > 기업정보 > 포트폴리오 */
.pflio-grid-grp{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // row-gap: 50px;
  // column-gap: 17px;
}

.pflio-wrap{
  position: relative;

  .pflio-desc-box{
    @include custom-scroll(#00EB79);
    @include absolute($t: -150px);

    width: 100%;
    height: 155px;
    overflow: auto;
    z-index: 2;
  }
}

.pflio{
  @include flex-center;
  @include flex-col;

  padding: 23px 0;
  gap: 15px;
  position: relative;

  &:hover{
    background-color: #F9F9FB;
  }

  .pflio-desc-icon{
    @include absolute($t: 23px, $r: 15px);

    cursor: pointer;
    z-index: 1;

    &:active{
      opacity: 0.7;
    }
  }

  .pflio-ctrl-btns{
    @include flex-center;
    
    margin-top: 5px;
    gap: 6px;
  }
}

.pflio-desc-box{
  background-color: white;
  font-size: 12px;
  color: #171820;
  box-shadow: 0 5px 6px rgba(#5C5E70, 0.2);

  .ttl{
    display: inline-block;
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: white;
    padding: 15px;
    padding-bottom: 10px;
  }

  .desc{
    padding: 0 15px;
  }
}

.pflio-dlist{
  margin-bottom: 13px;

  .dttl{
    color: #8E909F;
    line-height: 1.5;
    margin-bottom: 8px;
    display: inline-block;
    text-align: left;
  }

  .ddt{
    text-align: right;

    .amount{
      font-weight: 500;
      margin-right: 3px;
    }

    .unit{
      font-weight: 400;
    }
  }
}

/* 투자자: 마이페이지 > 기업정보 > 포트폴리오 추가 */
[mypage="etpr-portfolio-add-page"]{
  .invest-amount-item{
    @include flex{
      @include flex-op(center, flex-end);
    }

    line-height: 1.6;
    
    .lbel{
      font-size: 11px;
      color: #B8BAC7;
      margin-right: 15px;
      flex-shrink: 0;
    }
  
    .amount{
      min-width: 120px;
      text-align: right;
    }
  }

  .btn-grp[position="double-centered"]{
    margin-top: 50px
  }
}

.pflio-hd-info-box{
  @include flex{
    @include flex-op(center, flex-start);
  }

  border: 1px solid #5C5E70;
  padding: 22px 17px;
  color: #171820;
  margin-bottom: 30px;

  .ttl{
    font-weight: 600;
    font-size: 16px;
  }

  .cont{
    @include flex-center;

    gap: 14px;
    margin-left: auto;
  }

  .pflio-hd-cont-name{
    font-weight: 500;
    font-size: 14px;
  }
}

.pflio-add-form-grp{
  @include flex{
    @include flex-op(flex-end, stretch);
  };
  
  gap: 10px;
  background-color: #F9F9FB;
  padding: 26px 20px 20px;
  margin: 10px 0;

  & > .lbel-inp-grp{
    flex: 1 1 auto;
    margin: 0;

    & > .lbel ~ *{
      margin-top: 2.5px;
    }
  }

  .inp-grp{
    margin-bottom: 0;
  }

  .inp-grp-sm{
    max-width: 133px;
  }

  .inp-grp-md{
    max-width: 170px;
  }

  .inp-unit-grp .inp{
    text-align: left;
  }

  .add-btn{
    flex: 1 1 auto;
    max-width: 100px;
  }

  .custom-slct{
    width: 100%;
  }
}

.pflio-add-list-grp-box{
  height: 294px;
  
  .simple-list{
    font-size: 13px;
    padding: 9px 10px;

    .td-date{
      max-width: 100px;
      min-width: 100px;
    }
  
    .td-cite{
      max-width: 140px;
  
      span{
        @include ellipse(1, 16px);
      }
    }
  
    .td-invest-amount-item{
      flex: 1 0 auto;
    }

    .btn-x{
      margin-top: -20px;
    }
  }
}

.pflio-add-total-price{
  width: 100%;
  margin: 25px 0;
  font-size: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  .invest-amount-item{
    .lbel{
      font-size: 13px;
      color: #8E909F;
    }
  
    .amount{
      font-weight: 500;
    }
  }
}

/* 마이페이지 > 기업정보 > 구성원 관리 */
.member-list-grp-ttl{ // 구성요소: 구성원 list 총 몇명
  @include flex{
    @include flex-op(center, flex-start);
  }

  margin-bottom: 15px;
  color: #171820;
  gap: 10px;

  .txt{
    font-size: 14px;
    position: relative;

    .bold{
      font-weight: 300;
      -webkit-text-stroke: 1px #171820;
    }
  }

  .txt-right{
    @include flex{
      @include flex-op(center, flex-start);
    }

    margin-left: auto;
    margin-right: 0;
    gap: 10px;
  }
}

.member-list-grp{
  width: 100%;

  .empty-wrap{
    padding: 40px 0;
  }
}

.member-list{
  @include flex{
    @include flex-op(flex-start, flex-start);
  }

  width: 100%;
  margin: 10px 0;
  border: 1px solid #DDDEE6;
  color: #171820;
  padding: 30px 40px 20px;

  &:first-child{
    margin-top: 0;
  }

  &:last-child{
    margin-bottom: 0;
  }

  .avatar{
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    margin-right: 25px;
  }

  .member-btn-grp{
    margin-left: auto;
    flex-shrink: 0;
    gap: 8px;
  }
}

.member-info{
  width: 100%;

  .account-info{
    @include flex{
      @include flex-op(flex-start, flex-start);
    }
  
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-bottom: 25px;

    .name{
      font-size: 20px;
    }

    .mail{
      width: 100%;
      display: inline-block;
      font-size: 14px;
    }
  }

  .dlist{
    font-size: 13px;

    .lbel{
      flex-shrink: 0;
      width: auto;
      max-width: none;
    }
  }
}

/* 마이페이지 > 기업정보 > 그룹 관리 */
.box-grpmember-list{ // 구성요소: 그룹원 list들
  @include flex{
    @include flex-op(center, flex-start);
  }

  margin: 5px 0;
  padding: 17px 40px;
  position: relative;

  &:hover{
    .tooltip-apply{
      opacity: 1;
      top: -35px;
    }
  }

  .tooltip-apply{
    @include absolute($t: -30px);

    z-index: 1;
    background-color: white;
    box-shadow: 0 3px 6px rgba(#5C5E70, 0.2);
    color: #8E909F;
    padding: 5.5px 8px;
    font-size: 12px;
    opacity: 0;
    transition: all 0.2s;
  }

  .account-type{
    font-size: 13px;
    color: #5C5E70;
    font-weight: 500;
    padding-right: 20px;
    border-right: 1px solid #DDDEE6;
    margin-right: 20px;
  }

  .account-info{
    // @include ellipse(1, 18px);
    @include flex{
      @include flex-op(center, center);
    }
    
    position: relative;
    gap: 10px;

    .name{
      font-size: 16px;
    }

    .mail{
      font-size: 13px;
    }
  }

  .btn-grp{
    margin-left: auto;
    margin-right: 0;

    .btn-xsm{
      padding: 7.5px 15px;
    }

    .btn-bd-light{
      color: #8E909F;
    }
  }
}

.box-grpmember-list.is-active{
  border-color: #5C5E70;
}

/* ========== END 마이페이지 > 기업정보 ========== */