/* ========== 마이페이지 > 대시보드 ========== */

[mypage="dashboard"] {

  // 슬라이드 관련
  .slide-grp {
    position: relative;
  }

  .swiper-container {
    position: static;
  }

  .custom-btn {
    width: 34px;
    height: 34px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(#5C5E70, 0.3);
    text-indent: -99999px;
  }

  .custom-btn-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.121' height='13.414' viewBox='0 0 8.121 13.414'%3E%3Cg id='btn-prev-a' transform='translate(0.707 0.707)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M-19274.736-7922.715l6,6-6,6' transform='translate(19274.736 7922.715)' fill='none' stroke='%23303038' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    right: -17px;
  }

  .custom-btn-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.121' height='13.414' viewBox='0 0 8.121 13.414'%3E%3Cg id='btn-prev-a' transform='translate(-936.586 -520.578)'%3E%3Cpath id='패스_1' data-name='패스 1' d='M-19268.736-7922.715l-6,6,6,6' transform='translate(20212.736 8444)' fill='none' stroke='%23303038' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    left: -17px;
  }

  .mypage-hgrp {

    &.mb-remove {
      margin-bottom: 0;
    }
  }

  .big-ttl-grp {
    margin-bottom: 30px;
  }

  .panel-ttl-sub {
    font-size: rem(13);
    font-weight: 400;
    color: #8E909F;
  }

  .section-dashboard {
    padding: 60px 0 80px;
    border-bottom: 1px solid #DDDEE6;

    &:last-child{
      border-bottom: 0;
    }

    &.pt-remove {
      padding-top: 0;
    }

    .dashboard-cont-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      .half-grp {
        width: 50%;
      }

      .detail-grp {
         
        .cont-grp {
          @include custom-scroll(#00EB79, $w: 6px);
          padding: 40px;
          background-color: #fff;
          height: 535px;
          overflow: auto;

          .txt-box {
            font-size: rem(15);
            font-weight: 400;
            color: #5C5E70;
            line-height: 1.4;
          }
        }
      }
      
      .finance-grp {

        .table-all-wrap {
          padding: 0;
        }

        .custom-scroll-wrap {
          @include custom-scroll(#00EB79, $w: 6px);
          height: 487px;
          overflow: auto;
        }
      }
    }
  }

  .dashboard-cont-hgrp {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;

    .ttl {
      font-size: rem(25);
      font-weight: 500;
      color: #171820;
      text-align: left;
    }

    .ttl-sub {
      color: #8E909F;
      font-size: rem(13);
      font-weight: 400;
      text-align: left;
      padding-top: 18px;
    }

    .btn-all-view {
      @include input-reset;
      cursor: pointer;
      font-size: rem(15);
      font-weight: 500;
      color: #171820;
    }
  }

  .section-fc-request {

    .page-custom-slct {
      min-width: 125px;
    }

    .table-all-wrap {
      padding: 0;
    }

    .table-grp {
      border-bottom: none;
    }

    .table-cont-list {

      &.f-14 {
        
        .table-txt {
          font-size: rem(14);
          font-weight: 500;
        }
      }

      &.color-gray {

        .table-txt {
          color: #B8BAC7;
          font-weight: 400;
        }
      }
    }
  }

  .info-wrap {
    padding: 15.5px 0;

    .info-grp {
      padding: 6.5px 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .label {
      font-size: rem(14);
      font-weight: 400;
      color: #8E909F;
      min-width: 120px;
    }

    .info {
      font-size: rem(14);
      font-weight: 400;
      color: #171820;
      flex-grow: 1;
      line-height: 1.4;
    }
  }

  .section-dashboard-member {

    .member-list {
      background-color: #fff;
      border: none;
    }
  }

  .section-dashboard-pf {

    .pflio-grid-grp {
      grid-template-columns: repeat(5, 1fr);
      background-color: #fff;
    }

    .pflio:hover {
      background-color: transparent;
    }
  }

  .section-dashboard-report {

    .empty-txt {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: rem(15);
      font-weight: 400;
      color: #8E909F;
    }

    .horizontal-scr-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px;
      background-color: #fff;
      margin-bottom: 10px;
    }

    .select-ttl-grp {
      min-width: 130px;
      padding: 22px 0;

      .select-ttl {
        font-size: rem(15);
        font-weight: 600;
        color: #171820;
        text-align: center;
      }
    }

    .select-cont-grp {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      overflow-x: auto;
      width: 914px;
      padding: 22px 0;
      @include custom-scroll(#00EB79);


    }

    .select-cont-list {
      white-space: nowrap;
      cursor: pointer;
      margin-right: 20px;

      &.is-active {
        
        .select-txt {
          font-weight: 500;
          color: #171820;
        }
        
      }

      .select-txt {
        font-size: rem(14);
        color: #8E909F;
        font-weight: 400;
      }
    }

    .report-cont-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 10px;
    }

    .report-list-wrap {
      flex-basis: 45%;
      background-color: #fff;
      flex-grow: 1;
      padding: 40px 40px 57px 40px;
      height: 825px;
    }

    .report-top-info-grp {
      margin-bottom: 36px;

      .info-grp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 7.5px 0;

        .label {
          font-size: rem(13);
          font-weight: 400;
          color: #5C5E70;
        }
        
        .info {
          font-size: rem(15);
          font-weight: 500;
          color: #171820;

          &.info-lg {
            font-size: rem(18);
          }
        }
      }
    }

    .report-grp {

      .report-list-hgrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        .ttl {
          font-size: rem(15);
          font-weight: 600;
          color: #171820;
        }

        .count {
          font-size: rem(14);
          font-weight: 400;
          color: #171820;

          .bold-txt {
            font-weight: 600;
          }
        }
      }

      .report-list-grp {
        border: 1px solid #DDDEE6;
        height: 613px;
        overflow: auto;
        @include custom-scroll(#00EB79, $w: 4px);
      }

      .report-list-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 20px;
        border-bottom: 1px solid #DDDEE6;

        &:last-child{
          border-bottom: 0;
        }

        &:hover {
          background-color: #F9F9FB;
        }

        &.is-active {
          background-color: #F9F9FB;
        }

        &.is-up {

          .sub-info {
            color: #FF5175;
          }
        }

        &.is-down {
          
          .sub-info {
            color: #3060FF;
          }
        }

        &.is-hold {

          .sub-info {
            color: #8E909F;
          }
        }

        .left-box {
          display: flex;
          flex-direction: column;
          gap: 6px;
        }

        .name {
          font-size: rem(14);
          font-weight: 500;
          color: #171820;
        }

        .date {
          font-size: rem(11);
          font-weight: 400;
          color: #B8BAC7;
        }

        .right-box {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 5px;
        }

        .sub-label {
          font-size: rem(11);
          font-weight: 400;
          color: #8E909F;
        }

        .sub-info {
          font-size: rem(13);
          font-weight: 500;
          min-width: 48px;
          text-align: right;
        }
      }      
    }

    .report-graph-wrap {
      flex-basis: 55%;
      background-color: #fff;
      flex-grow: 1;
      height: 825px;
      padding: 40px 40px 57px 40px;

      .report-graph-cont-grp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }

      .graph-box-grp {
        min-width: 50%;
        padding: 0 10px;
        margin-bottom: 30px;

        .flex-ttl-sub {
          font-size: rem(12);
          font-weight: 400;
          color: #8E909F;
        }
      }

      .graph-box {
        height: 255px;
        border: 1px solid #E0E0E0;
      }

      .btn-grp {
        padding-top: 46px;

        .btn-md {
          margin: 0 auto;
        }
      }

      .empty-info-grp {
        padding: 12px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #F9F9FB;
        gap: 10px;

        .ment {
          font-size: rem(14);
          font-weight: 400;
          color: #5C5E70;
        }
      }
    }
  }
}