/* ========== 마이페이지 > 팩트체크 ========== */

/* 마이페이지 > 팩트체크 > 팩트체커 신청 > 신청서 작성 */
.mypage-ftck-apply-create-page{
  .ftck-auth-form-area{
    max-width: 380px;
    margin: 0 auto;

    & > .btn-grp{
      margin-top: 60px;
    }
  }
}

/* 마이페이지 > 팩트체크 > 팩트체커 신청 > 신청서 작성완료 */
.mypage-ftck-apply-complete-page{
  .state-guide-box{
    margin-bottom: 40px;
  }
}

/* 마이페이지 > 팩트체크 > 팩트체크 리스트 */

.ftck-intro-box{ // 구성요소: 팩트체크 인트로 박스
  background-color: #171820;
  color: white;
  text-align: left;
  padding: 40px;
  margin-bottom: 10px;

  .check-badge{
    margin-bottom: 6px;
    margin-top: 20px;
  }

  .ttl{
    @include font-op($w: 600, $c: white){
      font-size: 20px;
    }

    line-height: 1.5;

    .point-color{
      color: #00eb79;
    }
  }

  .ttl-lg{
    font-size: 25px;
  }

  .inp-sch-grp{
    margin-top: 30px;
    max-width: 505px;

    .inp{
      border-color: #00eb79;
    }
  }
}

.ftck-list-grp{ // 구성요소: 팩트체크 리스트
  border-top: 0;

  .empty-wrap{
    padding: 60px 0 50px;
  }

  .board-list{
    margin-bottom: 10px;
    background-color: white;
    border: 0;
  }

  .board-list.is-secret{
    .subject{
      color: #8E909F;
    }
  }
}

.ftck-state-subject{
  .ftck-state{
    @include flex{
      @include flex-op(center, flex-start)
    };
  
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .ftck-subject{
    @include flex{
      @include flex-op(center, flex-start)
    };
  
    gap: 8px;
  
    .lbel{
      color: #8E909F;
      padding-top: 3px;
      flex-shrink: 0;
    }
  
    .subject{
      @include ellipse(1, 18px);
      @include font-op($c: #171820, $w: 500){
        font-size: 16px;
      }
    }
  }
}

.ftck-detail-wrap{
  background-color: white;
  padding: 0 40px;

  .mypboard-detail-hd,
  .mypboard-detail-cont{
    padding-left: 0;
    padding-right: 0;
  }

  .mypboard-detail-hd{
    border-bottom: 1px solid #DDDEE6;
  }

  .mypboard-cont{ // 팩트체크 상세
    width: 100%;
    border-bottom: 1px solid #DDDEE6;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:last-child{
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

/* ========== END 마이페이지 > 팩트체크 ========== */