.cont-hgrp { // 구성요소: 마이페이지 제목 그룹
  padding-bottom: 40px;

  .ttl {
    font-size: rem(25);
    font-weight: 500;
    color: #171820;
    text-align: center;
    margin-bottom: 15px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .ttl-sub {
    font-size: rem(16);
    font-weight: 400;
    color: #5C5E70;
    text-align: center;
  }
}

.center-btn-grp { 
  width: 390px;
  margin: 0 auto;
  padding-top: 22px;
  gap: 14px;
}

.article-wrap .table-all-wrap {
  padding: 0;
}

.table-all-wrap {
  padding: 30px 0;

  .flex-basis-10 {
    flex-basis: 10%;
  }

  .flex-basis-13 {
    flex-basis: 13%;
  }

  .flex-basis-16 {
    flex-basis: 16%;
  }

  .flex-basis-20 {
    flex-basis: 20%;
  }

  .flex-basis-22 {
    flex-basis: 22%;
  }
  
  .flex-basis-26 {
    flex-basis: 26%;
  }

  .flex-basis-28 {
    flex-basis: 28%;
  }

  .flex-basis-76 {
    flex-basis: 76%;
  }

  .txt-left {
    text-align: left;
  }

  .txt-center {
    text-align: center;
  }

  .txt-right {
    text-align: right;
  }

  .ttl-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .table-ttl {
    font-size: rem(18);
    font-weight: 500;
    color: #5C5E70;
  }

  .table-ttl-sub {
    font-size: rem(12);
    font-weight: 400;
    color: #8E909F;
  }

  .table-grp {
    border-bottom: 1px solid #171820;
  }

  .table-hgrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171820;

    .table-txt {
      color: #DDDEE6;
      font-size: rem(13);
      font-weight: 500;
    }
  }

  .table-hlist {
    flex-grow: 1;
    padding: 15px 20px;
    border-right: 1px solid #707070;

    &:last-child {
      border: none;
    }
  }

  .table-cont-wrap {
    
    &.custom-scroll-wrap {
      @include custom-scroll(#00EB79, $w: 6px);
    
      background-color: #fff;
      overflow: auto;
      height: 460px;
    }

    &.empty-cont-wrap {
      height: 180px;
      display: flex;
      justify-content: center;
      align-items: center;

      .empty-ment {
        font-size: rem(17);
        font-weight: 400;
        color: #8E909F;
      }
    }
  }

  .table-cont-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDDEE6;

    &.f-bold {
      border-bottom: 1px solid #8E909F;

      .table-txt {
        font-weight: 600;
      }
    }

    &.f-600-lg {

      .table-txt {
        font-size: rem(15);
        font-weight: 600;
      }
    }
  }

  .table-cont-list {
    flex-grow: 1;
    padding: 15px 20px;
  }

  .table-txt {
    font-size: rem(13);
    font-weight: 400;
    color: #171820;

    &.f-bold {
      font-weight: 600;
    }
  }
}

// myinfo-main
.myinfo-page-container {

  .mypage-card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 30px 40px;
    background-color: #fff;
  }

  .name-box {
    min-width: 370px;
    padding-top: 21px;

    .name {
      font-size: rem(24);
      font-weight: 400;
      color: #171820;
      line-height: 1.3;
      margin-bottom: 30px;

      .bold-txt {
        font-weight: 600;
      }
    }
  }

  .btn-edit {
    padding: 12px 35.5px;
  }

  .info-box {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .info-grp {
    // padding: 19.5px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .badge {
      color: #8E909F;
      border: 1px solid #8E909F;
      border-radius: 50px;
      padding: 4px 9.5px;
      font-size: rem(12);
      font-weight: 500;
      margin-left: 8px;
    }
  }

  .info-label {
    padding: 19.5px 0;
    font-size: rem(15);
    font-weight: 600;
    color: #171820;
    min-width: 170px;
    display: inline-block;
  }

  .info {
    flex-grow: 1;
    padding: 19.5px 0;
    font-size: rem(15);
    font-weight: 400;
    color: #171820;
    border-bottom: 1px solid rgba(#DDDEE6, 0.6);
  }

  .btn-gray-txt {
    align-self: flex-end;
    margin-top: 25px;
  }
}
// END myinfo-main

// myinfo-edit
.myinfo-edit-page-container {
  
  .mypage-card {
    background-color: #fff;
    padding: 40px 0 50px;
  }

  .btn-grp {
    margin-top: 60px;
  }
}
// END myinfo-edit

// myinfo-leave
.myinfo-leave-page-container {

  .mypage-card {
    background-color: #fff;
    padding: 40px 40px 50px 40px;
  }

  .cont-grp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }

  .left-box {
    flex-grow: 1;
    flex-basis: 50%;
    padding: 20px;
    background-color: #F9F9FB;
  }

  .terms-ttl {
    font-size: rem(18);
    font-weight: 500;
    color: #171820;
    margin-bottom: 20px;
  }

  .terms-area {
    @include custom-scroll(#00EB79, $w: 6px);

    background-color: #fff;
    padding: 20px;
    font-size: rem(15);
    font-weight: 400;
    color: #171820;
    overflow: auto;
    height: 320px;
  }

  .right-box {
    flex-grow: 1;
    flex-basis: 50%;

    .lbel-inp-grp {
      
      &:first-child {
        margin: 0 0 17px 0;
      }

      &:last-child {
        margin: 17px 0 0 0;
      }
    }
  }

  .chk-grp {
    margin: 44px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .check-onoff {
      margin-right: 7px;
    }
  }

  .btn-grp {
    width: 380px;
    margin: 0 auto;
  }
}
// END myinfo-leave

// waiting-main
.waiting-page-container {

  .waiting-cont-wrap {
    background-color: #fff;
    text-align: center;
    padding: 40px 20px;
  }

  .cont-ment {
    font-size: rem(20);
    font-weight: 500;
    color: #171820;
    margin-bottom: 31px;
  }

  .process-card {
    padding: 16px 0;
    border: 1px solid #DDDEE6;
  }

  .process-ment {
    font-size: rem(12);
    font-weight: 600;
    color: #8E909F;
    margin-bottom: 20px;
  }

  .cont-ment-sub {
    padding-top: 30px;
    font-size: rem(15);
    color: #5C5E70;
    font-weight: 400;
    line-height: 1.35;
  }

  .btn-wrap {

    .btn {
      margin: 5px 0;
    }
  }
}
// END waiting-main

// waiting-complete
.waiting-complete-container {

  .ment-wrap {
    margin-bottom: 40px;

    .ment {
      font-size: rem(29);
      font-weight: 400;
      color: #171820;
      margin-bottom: 20px;
    }

    .ment-sub {
      font-size: rem(16);
      font-weight: 400;
      color: #171820;
    }
  }
}
// END waiting-complete

// startup - EtprDefaultInfo
.article-wrap {
  border-bottom: 1px solid #DDDEE6;
  padding: 30px 0;

  // &:last-child {
  //   border-bottom: none;
  // }

  &.border-remove {
    border-bottom: none;
  }

  .ttl {
    font-size: rem(16);
    font-weight: 600;
    color: #171820;
    margin-bottom: 20px;    
  }

  .ttl-lg {
    font-size: rem(18);
    font-weight: 600;
    color: #171820;
    margin-bottom: 10px;
  }

  .ttl-sub {
    font-size: rem(12);
    font-weight: 400;
    color: #8E909F;
    line-height: 1.3;
  }


  .info-grp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #171820;

    &.auth-info-grp {
      padding-top: 20px;

      .empty-txt {
        font-size: rem(15);
        font-weight: 400;
        color: #B8BAC7;
      }
    }

    &.is-padding-change {
      
      .info {
        padding: 14px 0;
      }
    }

    .label {
      font-size: rem(15);
      font-weight: 600;
      flex-basis: 170px;
      padding: 20px 0;
    }

    .info {
      font-size: rem(15);
      font-weight: 400;
      flex-grow: 1;
      padding: 20px 0;
      border-bottom: 1px solid #DDDEE6;

      &.custom-info {
        line-height: 1.4;
        white-space: pre-line;
      }

      .info-sub {
        font-size: rem(13);
        font-weight: 400;
        color: #8E909F;
      }
    }
  }
}

.profile-image-wrap {

  .cont-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .sub-ttl {
      font-size: rem(14);
      font-weight: 400;
      color: #171820;
      margin-bottom: 10px;
    }
  }

  .left-wrap {
    width: 50%;

    .biz-logo-wrap {
      margin-bottom: 30px;
    }
  }

  .right-wrap {
    width: 50%;
  }
}
// END startup - EtprDefaultInfo

// startup - EtprDefaultInfoEdit
.article-wrap {

  .ffieldset-guide {
    font-size: rem(12);
    font-weight: 400;
    color: #8E909F;
    line-height: 1.4;
  }

  .flex-row-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    .lbel-inp-grp {
      width: 50%;
      margin: 10px 0;

      .lbel-sub {
        font-size: rem(12);
        font-weight: 400;
        color: #8E909F;
        white-space: nowrap;
      }
    }

    .inp-btn-grp {
      width: 50%;
      margin: 10px 0;
    }

    .link-inp {
      padding-left: 45px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20.001' viewBox='0 0 20 20.001'%3E%3Cg id='icon-link' transform='translate(0.993 1)'%3E%3Cg id='그룹_6444' data-name='그룹 6444' transform='translate(-0.993 -1)'%3E%3Cg id='그룹_6443' data-name='그룹 6443' transform='translate(0 0)'%3E%3Cpath id='패스_6884' data-name='패스 6884' d='M7.3,185.278l-2.357,2.357A2.5,2.5,0,1,1,1.405,184.1l4.714-4.714a2.5,2.5,0,0,1,3.535,0,.833.833,0,0,0,1.179-1.179,4.166,4.166,0,0,0-5.892,0L.227,182.921a4.167,4.167,0,0,0,5.893,5.892l2.357-2.357A.833.833,0,1,0,7.3,185.278Z' transform='translate(0.993 -170.034)' fill='%23b8bac7'/%3E%3Cpath id='패스_6885' data-name='패스 6885' d='M201.257.22a4.167,4.167,0,0,0-5.893,0l-2.828,2.828a.833.833,0,0,0,1.179,1.179L196.543,1.4a2.5,2.5,0,1,1,3.536,3.535l-5.185,5.185a2.5,2.5,0,0,1-3.535,0A.833.833,0,0,0,190.18,11.3a4.166,4.166,0,0,0,5.892,0l5.185-5.185A4.166,4.166,0,0,0,201.257.22Z' transform='translate(-182.477 1)' fill='%23b8bac7'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      background-position: 15px center;
      background-repeat: no-repeat;
      background-size: auto;
    }
  }

  .inp-half-grp {

    .inp-btn-grp {
      width: 50%;
    }

    .info-guide {
      font-size: rem(12);
      font-weight: 400;
      color: #8E909F;
      margin-bottom: 12px;
    }

    .badge-wrap {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}

.profile-image-wrap {
  
  .flex-row-grp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .file-inp-grp {
      width: 50%;
    }
  }
}

.lbel-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;

  .lbel {
    margin-bottom: 0;
  }
  
  .length-txt {
    white-space: nowrap;
    font-size: rem(12);
    font-weight: 400;
    color: #5C5E70;
  }
}

// END startup - EtprDefaultInfoEdit


// investor - EtprDefaultInfo
.article-wrap {

  .flex-row-start-grp {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;

    .img-wrap {
      flex-basis: 260px;
    }

    .avatar-wrap {
      flex-grow: 1;
    }

    .avatar-with-name {
      margin-bottom: 15px;
    }
  }

  .biz-detail-wrap {
    padding-top: 30px;

    .dec {
      font-size: rem(15);
      font-weight: 400;
      color: #171820;
      line-height: 1.5;
    }
  }
  
  .finance-add-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
    padding: 26px 20px 20px 20px;
    background-color: #F9F9FB;
    margin-bottom: 10px;

    .lbel-inp-grp {
      width: 35%;
      margin: 0;
    }

    .btn-md {
      min-width: 100px;
    }
  }

  .finance-list-wrap {
    padding: 10px 20px;
    border: 1px solid #DDDEE6;
    @include custom-scroll($c: #00EB79);

    overflow: auto;
    height: 294px;

    .finance-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px;
      gap: 20px;

      .resource-ttl {
        width: 35%;
        font-size: rem(13);
        font-weight: 500;
        color: #171820;
      }

      .resource-price {
        flex-grow: 1;
        font-size: rem(13);
        font-weight: 400;
        color: #171820;
      }

      .btn-resource-del {
        @include input-reset;
        align-self: flex-end;
        cursor: pointer;
        
      }
    }
  }
}


// END investor - EtprDefaultInfo
