/* ========== 마이페이지 > 쪽지함 ========== */

.mypage-note-list-page{ // 구성요소 - 쪽지함 페이지
  .page-inp-grp{
    margin-bottom: 15px;
    max-width: 360px;
  }

  .page-tab{
    margin-bottom: 30px;
  }
}

.note-list-grp{ // 쪽지함 list 페이지: 받은 쪽지, 보낸 쪽지
  border-top: 0;

  .board-list{
    padding: 11.5px 40px;
    border: 1px solid #DDDEE6;
    margin-top: -1px;
  }

  .board-list:hover{
    position: relative;
    z-index: 1;
    border: 1px solid #00EB79;
    background-color: #F6FFFB;
  }

  .td-subject{
    padding-top: 0;
  }

  .td-word-subject{
    @include ellipse(1, 15px);

    color: #5c5e70;
    font-size: 13px;
  }
}

.nboard-detail-wrap{ // 쪽지함 detail 페이지: 쪽지 상세
  border: 1px solid #DDDEE6;

  .mypboard-detail-hd{
    background-color: #F9F9FB;
  }
}

.nboard-form-wrap{ // 쪽지함 create 페이지: 쪽지 보내기
  border: 1px solid #DDDEE6;
  padding: 30px 40px 40px;

  .nboard-form-hd{
    width: 100%;
    border-bottom: 1px solid #dddee6;
  }

  .nboard-form-ttl{
    @include font-op($w: 500, $c: #171820){
      font-size: 18px;
    } 

    line-height: 1.4;
    padding-bottom: 25px;
  }

  .btn-grp[position="double-centered"]{
    margin: 35px auto 0;
  }
}

.nboard-form-item{ // 쪽지함 create 페이지: 쪽지 보내기 항목
  @include flex{
    @include flex-op(stretch, flex-start);
  };

  flex-direction: column;
  margin: 20px 0;

  &:last-child{
    margin-bottom: 0;
  }
  
  .lbel{
    @include flex{
      @include flex-op(center, flex-start);
    }

    color: #5C5E70;
    margin-bottom: 10px;

    .length-unit{
      margin-left: auto;
    }
  }
}

.nboard-form-item.type-row{ // 쪽지함 create 페이지: 쪽지 보내기 항목 (가로형)
  @include flex-op(center, flex-start);

  flex-direction: row;

  .lbel{
    min-width: 50px;
    padding-right: 15px;
    margin-bottom: 0;
  }
}

/* ========== END 마이페이지 > 쪽지함 ========== */
