/* ========== 마이페이지 > 포인트 ========== */

/* 마이페이지 > 포인트 > 포인트 충전/내역 */
.mypage-point-card{
  @include flex{
    @include flex-op(stretch, space-between);
  };

  background-color: white;
  padding: 50px 40px;
}

.mypage-point-hgrp{
  color: #171820;
  text-align: left;

  .ttl{
    font-size: 24px;
    margin-bottom: 15px;
    line-height: 1.4;

    .bold{
      -webkit-text-stroke: 1px #171820;
    }
  }

  .ttl-sub{
    @include flex{
      @include flex-op(center, flex-start);
    }

    gap: 6px;

    .amount{
      @include font-op($w: 600){
        font-size: 26px;
      }

      display: inline-block;
      padding-top: 2px;
    }

    .badge-p{
      @include circle(24px);
      @include bg-op($s: contain);

      flex-shrink: 0;
    }
  }

  .charge-btn{
    width: 100%;
    max-width: 120px;
    margin-top: 25px;
  }
}

.mypage-point-history-wrap{
  width: 100%;
  max-width: 640px;

  .ttl{
    @include font-op($w: 500, $c: #171820){
      font-size: 16px;
    }

    margin-bottom: 15px;
  }

  .cont{
    @include custom-scroll($c: #00EB79);

    overflow: auto;
    height: 400px;
    padding: 10px 0;
    border: 1px solid #DDDEE6;
  }

  .nothing-cont{
    @include flex-center;

    font-weight: 500;
    font-size: 15px;
  }
}

/* 마이페이지 > 포인트 > 포인트 충전하기 */
.mypage-point-charge-page{
  .amount-item{
    .amount, .unit{
      font-size: 18px;
    }

    .badge-p{
      margin-top: -1.5px;
    }
  }

  .charge-point-inp{
    text-align: left;
    font-weight: bold;
  }

  .charge-form-grp{
    width: 100%;
    margin: 6px 0;

    &:last-child{
      margin-bottom: 0;
    }
  }

  .ffieldset-ttl{
    margin-bottom: 5px;
  }

  .charge-btn-grp{
    margin-bottom: 20px;
    gap: 0;
    margin-top: 5px;

    .charge-type-btn{
      font-weight: 500;
      width: 100%;
      color: #8E909F;
    }

    .charge-type-btn.is-active{
      box-shadow: 0 0 0 1px #5C5E70;
      z-index: 1;
      color: #171820;
    }
  }

  .caution-box{
    margin-top: 5px;
  }

  .form-btn-grp{
    margin-top: 20px;
  }
}

/* 마이페이지 > 포인트 > 포인트 충전완료 페이지 */
.mypage-point-charge-complete-page{
  .state-guide-box{
    margin-bottom: 40px;

    .state-desc{
      color: #8E909F;
    }
  }

  .charge-form-grp{
    justify-content: center;
    margin-top: 20px;

    .lbel{
      padding-top: 2px;
      margin-right: 27px;
    }
  }
}

/* ========== END 마이페이지 > 포인트 ========== */