/* ========== 마이페이지 > 팩트체크 ========== */

/* 마이페이지 > 팩트체크 > 팩트체커 신청 > 신청서 작성 */
[mypage="ftck-apply-create-page"]{
  .ftck-auth-form-area{
    max-width: 380px;
    margin: 0 auto;

    & > .btn-grp{
      margin-top: 60px;
    }
  }
}

/* 마이페이지 > 팩트체크 > 팩트체크 리스트 */
.ftck-intro-box{ // 구성요소: 팩트체크 인트로 박스
  background-color: #171820;
  color: white;
  text-align: left;
  padding: 40px;
  margin-bottom: 10px;

  .check-badge{
    margin-bottom: 6px;
    margin-top: 20px;
  }

  .ttl{
    @include font-op($w: 600, $c: white){
      font-size: 20px;
    }

    line-height: 1.5;

    .point-color{
      color: #00eb79;
    }
  }

  .ttl-lg{
    font-size: 25px;
  }

  .inp-sch-grp{
    margin-top: 30px;
    max-width: 505px;

    .inp{
      border-color: #00eb79;
    }
  }
}

.ftck-list-grp{ // 구성요소: 팩트체크 리스트
  border-top: 0;

  .empty-wrap{
    padding: 60px 0 50px;
  }

  .board-list{
    margin-bottom: 10px;
    background-color: white;
    border: 0;
    padding: 18px 40px;
  }

  .board-list.is-secret{
    .subject{
      color: #8E909F;
    }
  }
}

.ftck-state-subject{
  .ftck-state{
    @include flex{
      @include flex-op(center, flex-start)
    };
  
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .ftck-subject{
    @include flex{
      @include flex-op(center, flex-start)
    };
  
    gap: 8px;
  
    .lbel{
      color: #8E909F;
      padding-top: 3px;
      flex-shrink: 0;
    }
  
    .subject{
      @include ellipse(1, 18px);
      @include font-op($c: #171820, $w: 500){
        font-size: 16px;
      }
    }
  }
}

.ftck-detail-wrap{
  background-color: white;
  padding: 0 40px;

  .mypboard-detail-hd,
  .mypboard-detail-cont{
    padding-left: 0;
    padding-right: 0;
  }

  .mypboard-detail-hd{
    border-bottom: 1px solid #DDDEE6;

    .ftck-state-subject{
      .ftck-subject{
        align-items: flex-start;

        .lbel{
          padding-top: 5px;
        }
      }

      .subject{
        @include remove-ellipse;
      }
    }
  }

  .mypboard-cont{ // 팩트체크 상세
    width: 100%;
    border-bottom: 1px solid #DDDEE6;
    margin-bottom: 30px;
    padding-bottom: 30px;

    &:last-child{
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

/* 마이페이지 > 팩트체크 > 팩트체크 목록 */
[mypage="ftck-list-page"]{
  .page-inp-grp{
    max-width: 360px;
    margin-bottom: 25px;
  }

  .page-custom-slct{
    width: 125px;
  }
}

.ftck-caution-box{
  background-color: white;
  padding: 30px 40px;
  position: relative;
  margin-bottom: 30px;

  .img-checker{
    @include absolute($b: 0, $r: 0);

    z-index: 0;
    pointer-events: none;
  }

  .ftck-cb-ttl{
    @include flex{
      @include flex-op(center, flex-start);
    }

    gap: 5px;
    margin-bottom: 15px;

    .cb-ttl{
      font-size: 16px;
      font-weight: 500;
    }
  }

  .ul-dash{
    .list{
      font-size: 12px;
      color: #8E909F;
      padding-left: 10px;
      margin: 3px 0;

      &:first-child{
        margin-top: 0;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

/* 투자자: 마이페이지 > 팩트체크 > 요청한 팩트체크 상세 (대기중, 진행중) */
.ftck-ing-wrap{ // 구성요소: 진행중일 때 보이는 영역
  margin-top: 30px;
  
  .accordion-top{
    padding-top: 17px;
  }

  .accordion-down{
    padding-bottom: 20px;
  }
}

.ftck-ing-box{
  @include flex-center;
  @include flex-col;

  background-color: white;
  padding: 15px 0 18px;
  text-align: center;
  margin: 10px 0;

  .loader{
    margin: 0px auto 25px;
    transform: translateZ(0) scale(0.55);
  }

  .ttl{
    display: inline-block;
    width: 100%;
    font-size: 15px;
    -webkit-text-stroke: 0.5px #171820;
    line-height: 1.4;
  }

  .fc-gray{
    font-size: 12px;
    line-height: 1.4;
    margin-top: 5px;
  }
}

.ftck-name-grp{
  @include flex-col;
  @include flex-op(flex-start, flex-start);

  gap: 5px;

  .name{
    font-weight: 400;
    font-size: 15px;
    -webkit-text-stroke: 0.5px #171820;
  }

  .amount{
    font-size: 14px;
  }
}

/* 투자자: 마이페이지 > 팩트체크 > 요청한 팩트체크 상세 (검토중, 완료) */
[mypage="ftck-checking-detail-page"]{
  .mypboard-cont{
    &:last-of-type{
      border-bottom: 0;
    }
  }
  
  .guide-box{
    margin: 0;
  }
}

/* 투자자: 마이페이지 > 팩트체크 > 요청한 팩트체크 보완요청 */
/* 팩트체커: 마이페이지 > 팩트체크 > 나의 팩트체크 상세 (검토중&완료) */
[mypage="ftck-checking-edit-page"]{
  .ftck-caution-box{
    margin-bottom: 10px;
  }

  .custom-slct{
    max-width: 305px;
  }

  [position="double-centered"]{
    margin-top: 40px;
    margin-bottom: 10px;
  }
}

/* 팩트체커: 마이페이지 > 팩트체크 > 나의 팩트체크 상세 (진행중) */
[mypage="ftck-my-detail-page"]{
  .mypboard-cont{
    &:last-of-type{
      border-bottom: 0;
    }
  }
}

/* 팩트체커: 마이페이지 > 팩트체크 > 전체 팩트체크 상세 */
[mypage="ftck-total-detail-page"]{
  .mypboard-cont{
    &:last-of-type{
      border-bottom: 0;
    }
  }

  .colored-ment-box{
    margin-top: 70px;
  }
}

/* 팩트체커: 마이페이지 > 팩트체크 > 팩트체크 작성 */
[mypage="ftck-create-page"]{
  .mypage-ftck-container{
    margin: 10px 0;
  }

  .big-ttl-avatar-hd{
    margin-bottom: 30px;
  }

  .add-btn{
    margin: 0 auto;
    padding: 20px;
  }

  [position="single-centered"]{
    margin-top: 20px;
  }
}

/* ========== END 마이페이지 > 팩트체크 ========== */